In [7]:
import random
from copy import deepcopy

from faker import Faker

In [8]:
fake = Faker()

departments = [
    "Management",
    "Kitchen",
    "Cleaning",
    "Security",
    "Reception",
    "Accounting",
    "Service",
]

mem_levels = ["Bronze", "Silver", "Gold"]

no_of_branches = 15
no_of_areas = 5
no_of_employees = 100
no_of_parkings = 15
no_of_branch_foods = 600 # 40 per branch


sushi_themes = [
    "Sushi World",
    "Sushi Corner",
    "Sushi Factory",
    "Sushi Palace",
    "Sushi Garden",
    "Sushi Island",
    "Sushi Bay",
    "Sushi Bar",
    "Sushi Spot",
    "Sushi Hub",
    "Sushi Haven",
]

sushi_food_types = [
    "Rolls",
    "Sashimi",
    "Nigiri",
    "Hand Rolls",
    "Bento",
    "Appetizers",
    "Desserts",
    "Beverages",
    "Ramen",
    "Donburi",
]

sushi_food_items = {
    "Rolls": [
        "California Roll",
        "Spicy Tuna Roll",
        "Dragon Roll",
        "Rainbow Roll",
        "Philadelphia Roll",
        "Tempura Roll",
        "Vegetarian Roll",
    ],
    "Sashimi": [
        "Salmon Sashimi",
        "Tuna Sashimi",
        "Yellowtail Sashimi",
        "Octopus Sashimi",
        "Snapper Sashimi",
        "Mackerel Sashimi",
    ],
    "Nigiri": [
        "Salmon Nigiri",
        "Tuna Nigiri",
        "Eel Nigiri",
        "Shrimp Nigiri",
        "Egg Nigiri",
        "Crab Nigiri",
    ],
    "Hand Rolls": [
        "Spicy Tuna Hand Roll",
        "California Hand Roll",
        "Salmon Avocado Hand Roll",
        "Vegetable Hand Roll",
        "Shrimp Tempura Hand Roll",
    ],
    "Bento": [
        "Chicken Teriyaki Bento",
        "Salmon Teriyaki Bento",
        "Beef Bulgogi Bento",
        "Vegetarian Bento",
    ],
    "Appetizers": [
        "Edamame",
        "Gyoza",
        "Seaweed Salad",
        "Takoyaki",
        "Agedashi Tofu",
        "Miso Soup",
        "Spring Rolls",
    ],
    "Desserts": [
        "Mochi Ice Cream",
        "Green Tea Cheesecake",
        "Dorayaki",
        "Matcha Panna Cotta",
        "Sesame Balls",
    ],
    "Beverages": [
        "Green Tea",
        "Sake",
        "Plum Wine",
        "Ramune Soda",
        "Matcha Latte",
        "Iced Oolong Tea",
    ],
    "Ramen": [
        "Shoyu Ramen",
        "Miso Ramen",
        "Tonkotsu Ramen",
        "Spicy Chicken Ramen",
        "Vegetable Ramen",
        "Seafood Ramen",
    ],
    "Donburi": [
        "Gyudon (Beef Bowl)",
        "Katsudon (Pork Cutlet Bowl)",
        "Oyakodon (Chicken and Egg Bowl)",
        "Unadon (Eel Bowl)",
        "Tekka Don (Tuna Bowl)",
        "Chirashi Don (Scattered Sushi Bowl)",
    ],
}

### order
> AE ĐỂ ID_CUSTOMER NULL NHA, LẤY branch_table_list, để orderDate vào năm 2022, 2023, để totalPrice với actualPrice = 0 hết nha

ORDER
- ID_Order INT,
- OrderDate DATE NOT NULL DEFAULT GETDATE(),
- TotalPrice INT,
- ActualPrice INT,
- ID_Customer INT,
- ID_Review INT,
- ID_Employee INT,
- ID_Branch INT,
- CONSTRAINT PK_ID_ORDER PRIMARY KEY (ID_Order)

In [9]:


def generate_order_id_list(no_records):
    
    order_id_list = []
    order_date = [2022, 2023]
    totalPrice, actualPrice = 0, 0
    review_set = set()
    
    for i in range(1, no_records + 1):
        ID_Order = i

        OrderDate = fake.date_between(start_date="-2y", end_date="-1y") # 2022, 2023
        TotalPrice = 0
        ActualPrice = 0
        ID_Customer = i if i <= no_records * 0.7 else "NULL"
        
        ID_review = random.randint(1, no_records)
        while ID_review in review_set:
            ID_review = random.randint(1, no_records)
        review_set.add(ID_review)
        
        ID_Employee = random.randint(1, no_of_employees)
        ID_Branch = random.randint(1, no_of_branches)

        order_id_list.append((ID_Order, ID_Branch))
        print(
            f"INSERT INTO [ORDER] VALUES ({ID_Order}, '{OrderDate}', {TotalPrice}, {ActualPrice}, {ID_Customer}, {ID_review}, {ID_Employee}, {ID_Branch});"
        )

    return order_id_list

order_id_list = generate_order_id_list(1000)

INSERT INTO [ORDER] VALUES (1, '2023-07-26', 0, 0, 1, 192, 7, 5);
INSERT INTO [ORDER] VALUES (2, '2023-12-13', 0, 0, 2, 622, 1, 5);
INSERT INTO [ORDER] VALUES (3, '2023-04-29', 0, 0, 3, 881, 41, 14);
INSERT INTO [ORDER] VALUES (4, '2022-12-26', 0, 0, 4, 950, 41, 8);
INSERT INTO [ORDER] VALUES (5, '2023-07-04', 0, 0, 5, 673, 50, 4);
INSERT INTO [ORDER] VALUES (6, '2023-04-02', 0, 0, 6, 216, 53, 4);
INSERT INTO [ORDER] VALUES (7, '2023-10-08', 0, 0, 7, 65, 97, 6);
INSERT INTO [ORDER] VALUES (8, '2023-05-11', 0, 0, 8, 768, 86, 12);
INSERT INTO [ORDER] VALUES (9, '2023-03-01', 0, 0, 9, 390, 51, 1);
INSERT INTO [ORDER] VALUES (10, '2023-04-19', 0, 0, 10, 352, 29, 12);
INSERT INTO [ORDER] VALUES (11, '2023-11-02', 0, 0, 11, 257, 50, 8);
INSERT INTO [ORDER] VALUES (12, '2023-09-01', 0, 0, 12, 469, 15, 10);
INSERT INTO [ORDER] VALUES (13, '2023-06-27', 0, 0, 13, 529, 93, 11);
INSERT INTO [ORDER] VALUES (14, '2023-09-09', 0, 0, 14, 328, 74, 13);
INSERT INTO [ORDER] VALUES (15, '2023-05-22', 0, 0, 15, 150, 40, 13);
INSERT INTO [ORDER] VALUES (16, '2023-08-23', 0, 0, 16, 132, 50, 9);
INSERT INTO [ORDER] VALUES (17, '2023-01-09', 0, 0, 17, 221, 30, 7);
INSERT INTO [ORDER] VALUES (18, '2023-05-15', 0, 0, 18, 751, 37, 2);
INSERT INTO [ORDER] VALUES (19, '2023-06-08', 0, 0, 19, 756, 37, 5);
INSERT INTO [ORDER] VALUES (20, '2023-07-31', 0, 0, 20, 288, 1, 13);
INSERT INTO [ORDER] VALUES (21, '2023-11-26', 0, 0, 21, 312, 94, 8);
INSERT INTO [ORDER] VALUES (22, '2023-12-04', 0, 0, 22, 135, 46, 12);
INSERT INTO [ORDER] VALUES (23, '2023-01-06', 0, 0, 23, 866, 33, 8);
INSERT INTO [ORDER] VALUES (24, '2023-07-01', 0, 0, 24, 218, 21, 15);
INSERT INTO [ORDER] VALUES (25, '2023-11-13', 0, 0, 25, 125, 28, 9);
INSERT INTO [ORDER] VALUES (26, '2023-08-17', 0, 0, 26, 629, 53, 12);
INSERT INTO [ORDER] VALUES (27, '2023-03-13', 0, 0, 27, 297, 1, 4);
INSERT INTO [ORDER] VALUES (28, '2023-07-02', 0, 0, 28, 823, 81, 2);
INSERT INTO [ORDER] VALUES (29, '2023-11-25', 0, 0, 29, 108, 42, 4);
INSERT INTO [ORDER] VALUES (30, '2022-12-15', 0, 0, 30, 280, 48, 4);
INSERT INTO [ORDER] VALUES (31, '2023-05-27', 0, 0, 31, 877, 89, 3);
INSERT INTO [ORDER] VALUES (32, '2023-06-07', 0, 0, 32, 708, 45, 10);
INSERT INTO [ORDER] VALUES (33, '2023-03-23', 0, 0, 33, 57, 16, 15);
INSERT INTO [ORDER] VALUES (34, '2023-11-08', 0, 0, 34, 228, 92, 6);
INSERT INTO [ORDER] VALUES (35, '2023-02-28', 0, 0, 35, 459, 96, 8);
INSERT INTO [ORDER] VALUES (36, '2023-06-20', 0, 0, 36, 954, 55, 3);
INSERT INTO [ORDER] VALUES (37, '2023-11-03', 0, 0, 37, 777, 57, 8);
INSERT INTO [ORDER] VALUES (38, '2023-05-30', 0, 0, 38, 942, 91, 14);
INSERT INTO [ORDER] VALUES (39, '2023-10-13', 0, 0, 39, 945, 49, 4);
INSERT INTO [ORDER] VALUES (40, '2023-05-10', 0, 0, 40, 852, 70, 14);
INSERT INTO [ORDER] VALUES (41, '2023-11-21', 0, 0, 41, 169, 54, 6);
INSERT INTO [ORDER] VALUES (42, '2023-08-03', 0, 0, 42, 256, 85, 4);
INSERT INTO [ORDER] VALUES (43, '2023-06-24', 0, 0, 43, 387, 40, 12);
INSERT INTO [ORDER] VALUES (44, '2023-02-09', 0, 0, 44, 919, 21, 9);
INSERT INTO [ORDER] VALUES (45, '2023-06-18', 0, 0, 45, 488, 89, 13);
INSERT INTO [ORDER] VALUES (46, '2023-06-10', 0, 0, 46, 735, 68, 13);
INSERT INTO [ORDER] VALUES (47, '2023-08-11', 0, 0, 47, 911, 82, 3);
INSERT INTO [ORDER] VALUES (48, '2023-01-31', 0, 0, 48, 149, 66, 9);
INSERT INTO [ORDER] VALUES (49, '2023-08-01', 0, 0, 49, 544, 68, 11);
INSERT INTO [ORDER] VALUES (50, '2023-10-25', 0, 0, 50, 822, 82, 12);
INSERT INTO [ORDER] VALUES (51, '2023-01-24', 0, 0, 51, 637, 14, 7);
INSERT INTO [ORDER] VALUES (52, '2023-11-21', 0, 0, 52, 411, 20, 4);
INSERT INTO [ORDER] VALUES (53, '2023-09-18', 0, 0, 53, 18, 68, 8);
INSERT INTO [ORDER] VALUES (54, '2023-02-02', 0, 0, 54, 246, 93, 5);
INSERT INTO [ORDER] VALUES (55, '2023-02-06', 0, 0, 55, 84, 76, 15);
INSERT INTO [ORDER] VALUES (56, '2023-06-20', 0, 0, 56, 774, 59, 7);
INSERT INTO [ORDER] VALUES (57, '2023-09-11', 0, 0, 57, 876, 52, 13);
INSERT INTO [ORDER] VALUES (58, '2023-01-24', 0, 0, 58, 969, 90, 9);
INSERT INTO [ORDER] VALUES (59, '2023-11-02', 0, 0, 59, 2, 2, 4);
INSERT INTO [ORDER] VALUES (60, '2023-03-17', 0, 0, 60, 747, 85, 8);
INSERT INTO [ORDER] VALUES (61, '2023-04-27', 0, 0, 61, 339, 2, 6);
INSERT INTO [ORDER] VALUES (62, '2023-05-31', 0, 0, 62, 746, 69, 9);
INSERT INTO [ORDER] VALUES (63, '2023-02-26', 0, 0, 63, 475, 59, 14);
INSERT INTO [ORDER] VALUES (64, '2023-04-15', 0, 0, 64, 85, 29, 14);
INSERT INTO [ORDER] VALUES (65, '2023-06-22', 0, 0, 65, 434, 83, 12);
INSERT INTO [ORDER] VALUES (66, '2023-11-05', 0, 0, 66, 404, 97, 9);
INSERT INTO [ORDER] VALUES (67, '2023-07-25', 0, 0, 67, 15, 66, 13);
INSERT INTO [ORDER] VALUES (68, '2023-04-24', 0, 0, 68, 281, 84, 6);
INSERT INTO [ORDER] VALUES (69, '2023-08-02', 0, 0, 69, 467, 39, 15);
INSERT INTO [ORDER] VALUES (70, '2023-09-19', 0, 0, 70, 478, 12, 11);
INSERT INTO [ORDER] VALUES (71, '2023-09-29', 0, 0, 71, 770, 34, 1);
INSERT INTO [ORDER] VALUES (72, '2022-12-30', 0, 0, 72, 51, 93, 7);
INSERT INTO [ORDER] VALUES (73, '2023-07-15', 0, 0, 73, 745, 4, 1);
INSERT INTO [ORDER] VALUES (74, '2023-10-15', 0, 0, 74, 900, 73, 5);
INSERT INTO [ORDER] VALUES (75, '2023-01-13', 0, 0, 75, 4, 71, 14);
INSERT INTO [ORDER] VALUES (76, '2023-01-22', 0, 0, 76, 779, 17, 3);
INSERT INTO [ORDER] VALUES (77, '2023-08-29', 0, 0, 77, 34, 33, 15);
INSERT INTO [ORDER] VALUES (78, '2023-01-18', 0, 0, 78, 342, 97, 1);
INSERT INTO [ORDER] VALUES (79, '2023-08-30', 0, 0, 79, 940, 28, 10);
INSERT INTO [ORDER] VALUES (80, '2023-02-28', 0, 0, 80, 300, 68, 6);
INSERT INTO [ORDER] VALUES (81, '2023-05-27', 0, 0, 81, 315, 67, 3);
INSERT INTO [ORDER] VALUES (82, '2023-04-11', 0, 0, 82, 836, 93, 15);
INSERT INTO [ORDER] VALUES (83, '2023-04-28', 0, 0, 83, 885, 73, 7);
INSERT INTO [ORDER] VALUES (84, '2023-09-07', 0, 0, 84, 986, 32, 14);
INSERT INTO [ORDER] VALUES (85, '2023-07-20', 0, 0, 85, 74, 72, 12);
INSERT INTO [ORDER] VALUES (86, '2023-07-31', 0, 0, 86, 838, 4, 7);
INSERT INTO [ORDER] VALUES (87, '2022-12-29', 0, 0, 87, 693, 23, 1);
INSERT INTO [ORDER] VALUES (88, '2023-05-24', 0, 0, 88, 438, 24, 13);
INSERT INTO [ORDER] VALUES (89, '2023-12-12', 0, 0, 89, 379, 99, 14);
INSERT INTO [ORDER] VALUES (90, '2023-06-22', 0, 0, 90, 948, 2, 13);
INSERT INTO [ORDER] VALUES (91, '2023-11-16', 0, 0, 91, 310, 43, 4);
INSERT INTO [ORDER] VALUES (92, '2023-11-03', 0, 0, 92, 307, 24, 2);
INSERT INTO [ORDER] VALUES (93, '2023-06-29', 0, 0, 93, 993, 69, 4);
INSERT INTO [ORDER] VALUES (94, '2023-08-13', 0, 0, 94, 350, 20, 13);
INSERT INTO [ORDER] VALUES (95, '2023-06-26', 0, 0, 95, 494, 87, 12);
INSERT INTO [ORDER] VALUES (96, '2023-10-27', 0, 0, 96, 724, 40, 9);
INSERT INTO [ORDER] VALUES (97, '2023-01-24', 0, 0, 97, 43, 92, 12);
INSERT INTO [ORDER] VALUES (98, '2023-11-07', 0, 0, 98, 133, 23, 1);
INSERT INTO [ORDER] VALUES (99, '2023-05-21', 0, 0, 99, 344, 68, 4);
INSERT INTO [ORDER] VALUES (100, '2023-10-19', 0, 0, 100, 145, 22, 13);
INSERT INTO [ORDER] VALUES (101, '2023-12-09', 0, 0, 101, 7, 97, 11);
INSERT INTO [ORDER] VALUES (102, '2023-06-27', 0, 0, 102, 479, 27, 12);
INSERT INTO [ORDER] VALUES (103, '2023-08-18', 0, 0, 103, 495, 76, 7);
INSERT INTO [ORDER] VALUES (104, '2023-01-05', 0, 0, 104, 486, 32, 6);
INSERT INTO [ORDER] VALUES (105, '2023-04-26', 0, 0, 105, 531, 14, 13);
INSERT INTO [ORDER] VALUES (106, '2023-09-11', 0, 0, 106, 215, 42, 11);
INSERT INTO [ORDER] VALUES (107, '2023-02-10', 0, 0, 107, 806, 33, 2);
INSERT INTO [ORDER] VALUES (108, '2023-11-22', 0, 0, 108, 130, 37, 11);
INSERT INTO [ORDER] VALUES (109, '2023-09-18', 0, 0, 109, 995, 7, 6);
INSERT INTO [ORDER] VALUES (110, '2023-01-08', 0, 0, 110, 517, 83, 3);
INSERT INTO [ORDER] VALUES (111, '2023-11-28', 0, 0, 111, 892, 46, 6);
INSERT INTO [ORDER] VALUES (112, '2023-01-08', 0, 0, 112, 147, 84, 9);
INSERT INTO [ORDER] VALUES (113, '2023-11-05', 0, 0, 113, 664, 49, 10);
INSERT INTO [ORDER] VALUES (114, '2023-01-24', 0, 0, 114, 303, 44, 4);
INSERT INTO [ORDER] VALUES (115, '2023-06-21', 0, 0, 115, 530, 74, 10);
INSERT INTO [ORDER] VALUES (116, '2023-05-23', 0, 0, 116, 551, 76, 6);
INSERT INTO [ORDER] VALUES (117, '2023-03-02', 0, 0, 117, 639, 57, 10);
INSERT INTO [ORDER] VALUES (118, '2023-08-22', 0, 0, 118, 102, 87, 14);
INSERT INTO [ORDER] VALUES (119, '2022-12-17', 0, 0, 119, 217, 84, 4);
INSERT INTO [ORDER] VALUES (120, '2023-04-08', 0, 0, 120, 916, 55, 2);
INSERT INTO [ORDER] VALUES (121, '2023-11-25', 0, 0, 121, 795, 10, 5);
INSERT INTO [ORDER] VALUES (122, '2023-10-29', 0, 0, 122, 791, 64, 14);
INSERT INTO [ORDER] VALUES (123, '2023-10-12', 0, 0, 123, 413, 3, 8);
INSERT INTO [ORDER] VALUES (124, '2023-06-10', 0, 0, 124, 247, 15, 2);
INSERT INTO [ORDER] VALUES (125, '2023-05-29', 0, 0, 125, 785, 29, 13);
INSERT INTO [ORDER] VALUES (126, '2023-06-20', 0, 0, 126, 624, 96, 1);
INSERT INTO [ORDER] VALUES (127, '2023-10-19', 0, 0, 127, 750, 22, 14);
INSERT INTO [ORDER] VALUES (128, '2023-01-14', 0, 0, 128, 380, 84, 2);
INSERT INTO [ORDER] VALUES (129, '2023-02-21', 0, 0, 129, 800, 76, 6);
INSERT INTO [ORDER] VALUES (130, '2023-09-28', 0, 0, 130, 973, 53, 9);
INSERT INTO [ORDER] VALUES (131, '2023-09-10', 0, 0, 131, 937, 9, 6);
INSERT INTO [ORDER] VALUES (132, '2023-03-15', 0, 0, 132, 873, 75, 11);
INSERT INTO [ORDER] VALUES (133, '2023-03-28', 0, 0, 133, 893, 93, 14);
INSERT INTO [ORDER] VALUES (134, '2023-12-10', 0, 0, 134, 452, 1, 6);
INSERT INTO [ORDER] VALUES (135, '2023-05-01', 0, 0, 135, 630, 38, 11);
INSERT INTO [ORDER] VALUES (136, '2023-10-17', 0, 0, 136, 172, 47, 2);
INSERT INTO [ORDER] VALUES (137, '2023-06-14', 0, 0, 137, 707, 11, 10);
INSERT INTO [ORDER] VALUES (138, '2023-04-14', 0, 0, 138, 52, 9, 1);
INSERT INTO [ORDER] VALUES (139, '2023-03-16', 0, 0, 139, 933, 30, 11);
INSERT INTO [ORDER] VALUES (140, '2023-04-01', 0, 0, 140, 997, 85, 3);
INSERT INTO [ORDER] VALUES (141, '2023-03-12', 0, 0, 141, 62, 41, 4);
INSERT INTO [ORDER] VALUES (142, '2023-11-10', 0, 0, 142, 437, 5, 13);
INSERT INTO [ORDER] VALUES (143, '2023-06-22', 0, 0, 143, 71, 26, 9);
INSERT INTO [ORDER] VALUES (144, '2023-05-17', 0, 0, 144, 809, 51, 6);
INSERT INTO [ORDER] VALUES (145, '2023-08-03', 0, 0, 145, 763, 89, 5);
INSERT INTO [ORDER] VALUES (146, '2023-08-15', 0, 0, 146, 684, 74, 9);
INSERT INTO [ORDER] VALUES (147, '2023-10-23', 0, 0, 147, 117, 78, 4);
INSERT INTO [ORDER] VALUES (148, '2023-10-14', 0, 0, 148, 25, 22, 14);
INSERT INTO [ORDER] VALUES (149, '2023-09-15', 0, 0, 149, 290, 29, 6);
INSERT INTO [ORDER] VALUES (150, '2023-06-09', 0, 0, 150, 528, 14, 9);
INSERT INTO [ORDER] VALUES (151, '2023-10-07', 0, 0, 151, 8, 41, 9);
INSERT INTO [ORDER] VALUES (152, '2022-12-26', 0, 0, 152, 127, 11, 12);
INSERT INTO [ORDER] VALUES (153, '2023-09-05', 0, 0, 153, 524, 42, 12);
INSERT INTO [ORDER] VALUES (154, '2023-05-11', 0, 0, 154, 506, 29, 7);
INSERT INTO [ORDER] VALUES (155, '2023-02-24', 0, 0, 155, 802, 44, 2);
INSERT INTO [ORDER] VALUES (156, '2023-06-17', 0, 0, 156, 105, 5, 9);
INSERT INTO [ORDER] VALUES (157, '2023-01-10', 0, 0, 157, 461, 4, 7);
INSERT INTO [ORDER] VALUES (158, '2023-10-13', 0, 0, 158, 453, 35, 15);
INSERT INTO [ORDER] VALUES (159, '2023-08-25', 0, 0, 159, 727, 61, 6);
INSERT INTO [ORDER] VALUES (160, '2023-06-05', 0, 0, 160, 532, 50, 14);
INSERT INTO [ORDER] VALUES (161, '2023-08-03', 0, 0, 161, 801, 60, 7);
INSERT INTO [ORDER] VALUES (162, '2023-01-28', 0, 0, 162, 274, 84, 2);
INSERT INTO [ORDER] VALUES (163, '2023-03-19', 0, 0, 163, 424, 55, 9);
INSERT INTO [ORDER] VALUES (164, '2023-09-13', 0, 0, 164, 912, 98, 13);
INSERT INTO [ORDER] VALUES (165, '2023-02-19', 0, 0, 165, 213, 33, 2);
INSERT INTO [ORDER] VALUES (166, '2023-10-09', 0, 0, 166, 918, 76, 13);
INSERT INTO [ORDER] VALUES (167, '2023-03-14', 0, 0, 167, 594, 1, 1);
INSERT INTO [ORDER] VALUES (168, '2023-08-11', 0, 0, 168, 79, 29, 7);
INSERT INTO [ORDER] VALUES (169, '2023-06-14', 0, 0, 169, 576, 29, 7);
INSERT INTO [ORDER] VALUES (170, '2023-08-07', 0, 0, 170, 111, 66, 10);
INSERT INTO [ORDER] VALUES (171, '2023-01-03', 0, 0, 171, 167, 52, 14);
INSERT INTO [ORDER] VALUES (172, '2023-08-30', 0, 0, 172, 704, 69, 7);
INSERT INTO [ORDER] VALUES (173, '2023-03-09', 0, 0, 173, 819, 44, 12);
INSERT INTO [ORDER] VALUES (174, '2023-04-11', 0, 0, 174, 652, 67, 3);
INSERT INTO [ORDER] VALUES (175, '2023-06-19', 0, 0, 175, 580, 18, 1);
INSERT INTO [ORDER] VALUES (176, '2023-11-11', 0, 0, 176, 958, 2, 7);
INSERT INTO [ORDER] VALUES (177, '2023-10-11', 0, 0, 177, 409, 2, 15);
INSERT INTO [ORDER] VALUES (178, '2022-12-28', 0, 0, 178, 473, 37, 3);
INSERT INTO [ORDER] VALUES (179, '2023-05-16', 0, 0, 179, 965, 26, 8);
INSERT INTO [ORDER] VALUES (180, '2023-01-14', 0, 0, 180, 319, 90, 3);
INSERT INTO [ORDER] VALUES (181, '2023-03-02', 0, 0, 181, 460, 91, 11);
INSERT INTO [ORDER] VALUES (182, '2023-04-01', 0, 0, 182, 632, 22, 14);
INSERT INTO [ORDER] VALUES (183, '2022-12-21', 0, 0, 183, 504, 35, 15);
INSERT INTO [ORDER] VALUES (184, '2023-04-05', 0, 0, 184, 138, 69, 4);
INSERT INTO [ORDER] VALUES (185, '2023-01-26', 0, 0, 185, 964, 42, 1);
INSERT INTO [ORDER] VALUES (186, '2022-12-26', 0, 0, 186, 184, 100, 1);
INSERT INTO [ORDER] VALUES (187, '2023-01-13', 0, 0, 187, 519, 62, 10);
INSERT INTO [ORDER] VALUES (188, '2023-03-13', 0, 0, 188, 32, 11, 12);
INSERT INTO [ORDER] VALUES (189, '2023-06-20', 0, 0, 189, 110, 95, 10);
INSERT INTO [ORDER] VALUES (190, '2023-02-15', 0, 0, 190, 811, 20, 11);
INSERT INTO [ORDER] VALUES (191, '2023-09-02', 0, 0, 191, 846, 53, 13);
INSERT INTO [ORDER] VALUES (192, '2022-12-27', 0, 0, 192, 605, 21, 13);
INSERT INTO [ORDER] VALUES (193, '2023-09-15', 0, 0, 193, 382, 51, 15);
INSERT INTO [ORDER] VALUES (194, '2022-12-17', 0, 0, 194, 828, 98, 14);
INSERT INTO [ORDER] VALUES (195, '2023-08-08', 0, 0, 195, 245, 58, 8);
INSERT INTO [ORDER] VALUES (196, '2023-06-16', 0, 0, 196, 523, 9, 11);
INSERT INTO [ORDER] VALUES (197, '2023-02-27', 0, 0, 197, 861, 18, 1);
INSERT INTO [ORDER] VALUES (198, '2023-02-05', 0, 0, 198, 39, 30, 14);
INSERT INTO [ORDER] VALUES (199, '2023-03-30', 0, 0, 199, 938, 21, 3);
INSERT INTO [ORDER] VALUES (200, '2023-01-13', 0, 0, 200, 790, 37, 2);
INSERT INTO [ORDER] VALUES (201, '2023-01-02', 0, 0, 201, 558, 96, 2);
INSERT INTO [ORDER] VALUES (202, '2023-03-08', 0, 0, 202, 485, 86, 8);
INSERT INTO [ORDER] VALUES (203, '2023-03-09', 0, 0, 203, 520, 29, 13);
INSERT INTO [ORDER] VALUES (204, '2023-11-13', 0, 0, 204, 98, 61, 13);
INSERT INTO [ORDER] VALUES (205, '2023-02-18', 0, 0, 205, 398, 64, 15);
INSERT INTO [ORDER] VALUES (206, '2023-08-08', 0, 0, 206, 63, 21, 11);
INSERT INTO [ORDER] VALUES (207, '2023-04-29', 0, 0, 207, 369, 2, 13);
INSERT INTO [ORDER] VALUES (208, '2022-12-24', 0, 0, 208, 936, 49, 2);
INSERT INTO [ORDER] VALUES (209, '2023-09-21', 0, 0, 209, 743, 43, 4);
INSERT INTO [ORDER] VALUES (210, '2023-11-29', 0, 0, 210, 716, 92, 13);
INSERT INTO [ORDER] VALUES (211, '2023-10-20', 0, 0, 211, 103, 4, 8);
INSERT INTO [ORDER] VALUES (212, '2023-06-29', 0, 0, 212, 614, 32, 7);
INSERT INTO [ORDER] VALUES (213, '2023-06-12', 0, 0, 213, 548, 43, 7);
INSERT INTO [ORDER] VALUES (214, '2023-10-07', 0, 0, 214, 538, 38, 4);
INSERT INTO [ORDER] VALUES (215, '2023-07-15', 0, 0, 215, 60, 12, 9);
INSERT INTO [ORDER] VALUES (216, '2023-11-21', 0, 0, 216, 236, 19, 11);
INSERT INTO [ORDER] VALUES (217, '2023-09-01', 0, 0, 217, 166, 24, 5);
INSERT INTO [ORDER] VALUES (218, '2023-03-08', 0, 0, 218, 447, 28, 2);
INSERT INTO [ORDER] VALUES (219, '2023-03-26', 0, 0, 219, 470, 67, 7);
INSERT INTO [ORDER] VALUES (220, '2022-12-28', 0, 0, 220, 874, 18, 3);
INSERT INTO [ORDER] VALUES (221, '2023-12-10', 0, 0, 221, 152, 100, 4);
INSERT INTO [ORDER] VALUES (222, '2023-12-06', 0, 0, 222, 362, 40, 10);
INSERT INTO [ORDER] VALUES (223, '2023-09-18', 0, 0, 223, 565, 57, 15);
INSERT INTO [ORDER] VALUES (224, '2023-11-14', 0, 0, 224, 983, 92, 9);
INSERT INTO [ORDER] VALUES (225, '2023-07-01', 0, 0, 225, 154, 12, 14);
INSERT INTO [ORDER] VALUES (226, '2023-07-10', 0, 0, 226, 909, 71, 9);
INSERT INTO [ORDER] VALUES (227, '2023-04-22', 0, 0, 227, 660, 7, 3);
INSERT INTO [ORDER] VALUES (228, '2023-09-08', 0, 0, 228, 957, 34, 5);
INSERT INTO [ORDER] VALUES (229, '2023-02-03', 0, 0, 229, 10, 55, 1);
INSERT INTO [ORDER] VALUES (230, '2023-04-16', 0, 0, 230, 363, 25, 3);
INSERT INTO [ORDER] VALUES (231, '2023-05-27', 0, 0, 231, 401, 40, 4);
INSERT INTO [ORDER] VALUES (232, '2023-03-20', 0, 0, 232, 265, 98, 1);
INSERT INTO [ORDER] VALUES (233, '2023-06-07', 0, 0, 233, 24, 10, 9);
INSERT INTO [ORDER] VALUES (234, '2023-08-10', 0, 0, 234, 214, 61, 8);
INSERT INTO [ORDER] VALUES (235, '2023-06-14', 0, 0, 235, 908, 50, 4);
INSERT INTO [ORDER] VALUES (236, '2023-03-30', 0, 0, 236, 346, 34, 7);
INSERT INTO [ORDER] VALUES (237, '2023-05-02', 0, 0, 237, 702, 1, 8);
INSERT INTO [ORDER] VALUES (238, '2023-06-26', 0, 0, 238, 75, 95, 4);
INSERT INTO [ORDER] VALUES (239, '2023-02-13', 0, 0, 239, 803, 80, 9);
INSERT INTO [ORDER] VALUES (240, '2023-01-30', 0, 0, 240, 603, 48, 8);
INSERT INTO [ORDER] VALUES (241, '2023-01-15', 0, 0, 241, 83, 16, 6);
INSERT INTO [ORDER] VALUES (242, '2023-08-12', 0, 0, 242, 159, 62, 5);
INSERT INTO [ORDER] VALUES (243, '2023-02-03', 0, 0, 243, 907, 50, 4);
INSERT INTO [ORDER] VALUES (244, '2023-04-04', 0, 0, 244, 703, 79, 6);
INSERT INTO [ORDER] VALUES (245, '2023-08-25', 0, 0, 245, 786, 65, 6);
INSERT INTO [ORDER] VALUES (246, '2023-06-06', 0, 0, 246, 851, 34, 1);
INSERT INTO [ORDER] VALUES (247, '2023-12-06', 0, 0, 247, 119, 21, 2);
INSERT INTO [ORDER] VALUES (248, '2023-09-19', 0, 0, 248, 458, 84, 2);
INSERT INTO [ORDER] VALUES (249, '2023-12-06', 0, 0, 249, 678, 46, 8);
INSERT INTO [ORDER] VALUES (250, '2022-12-30', 0, 0, 250, 512, 96, 7);
INSERT INTO [ORDER] VALUES (251, '2023-06-25', 0, 0, 251, 420, 82, 2);
INSERT INTO [ORDER] VALUES (252, '2023-07-12', 0, 0, 252, 701, 16, 14);
INSERT INTO [ORDER] VALUES (253, '2023-08-19', 0, 0, 253, 982, 25, 8);
INSERT INTO [ORDER] VALUES (254, '2023-04-21', 0, 0, 254, 418, 66, 11);
INSERT INTO [ORDER] VALUES (255, '2023-01-11', 0, 0, 255, 923, 10, 12);
INSERT INTO [ORDER] VALUES (256, '2023-02-19', 0, 0, 256, 589, 39, 10);
INSERT INTO [ORDER] VALUES (257, '2023-05-11', 0, 0, 257, 884, 26, 7);
INSERT INTO [ORDER] VALUES (258, '2023-08-30', 0, 0, 258, 686, 51, 5);
INSERT INTO [ORDER] VALUES (259, '2023-01-27', 0, 0, 259, 210, 61, 7);
INSERT INTO [ORDER] VALUES (260, '2023-11-27', 0, 0, 260, 343, 61, 2);
INSERT INTO [ORDER] VALUES (261, '2023-07-29', 0, 0, 261, 654, 49, 5);
INSERT INTO [ORDER] VALUES (262, '2023-05-14', 0, 0, 262, 299, 44, 6);
INSERT INTO [ORDER] VALUES (263, '2023-06-10', 0, 0, 263, 16, 100, 11);
INSERT INTO [ORDER] VALUES (264, '2023-02-22', 0, 0, 264, 509, 14, 1);
INSERT INTO [ORDER] VALUES (265, '2023-06-04', 0, 0, 265, 393, 74, 3);
INSERT INTO [ORDER] VALUES (266, '2023-05-09', 0, 0, 266, 712, 39, 5);
INSERT INTO [ORDER] VALUES (267, '2023-01-22', 0, 0, 267, 456, 90, 9);
INSERT INTO [ORDER] VALUES (268, '2023-01-24', 0, 0, 268, 121, 41, 12);
INSERT INTO [ORDER] VALUES (269, '2023-01-04', 0, 0, 269, 441, 38, 10);
INSERT INTO [ORDER] VALUES (270, '2023-03-17', 0, 0, 270, 491, 61, 10);
INSERT INTO [ORDER] VALUES (271, '2023-04-14', 0, 0, 271, 620, 65, 3);
INSERT INTO [ORDER] VALUES (272, '2023-10-06', 0, 0, 272, 252, 66, 3);
INSERT INTO [ORDER] VALUES (273, '2023-02-25', 0, 0, 273, 887, 44, 13);
INSERT INTO [ORDER] VALUES (274, '2023-11-07', 0, 0, 274, 796, 86, 14);
INSERT INTO [ORDER] VALUES (275, '2023-08-12', 0, 0, 275, 634, 11, 1);
INSERT INTO [ORDER] VALUES (276, '2023-06-16', 0, 0, 276, 104, 92, 12);
INSERT INTO [ORDER] VALUES (277, '2023-12-08', 0, 0, 277, 278, 8, 13);
INSERT INTO [ORDER] VALUES (278, '2023-08-22', 0, 0, 278, 706, 5, 12);
INSERT INTO [ORDER] VALUES (279, '2023-03-07', 0, 0, 279, 375, 85, 12);
INSERT INTO [ORDER] VALUES (280, '2023-09-03', 0, 0, 280, 581, 9, 10);
INSERT INTO [ORDER] VALUES (281, '2023-04-17', 0, 0, 281, 591, 69, 5);
INSERT INTO [ORDER] VALUES (282, '2023-02-11', 0, 0, 282, 959, 83, 13);
INSERT INTO [ORDER] VALUES (283, '2023-11-05', 0, 0, 283, 198, 65, 12);
INSERT INTO [ORDER] VALUES (284, '2023-09-19', 0, 0, 284, 287, 56, 2);

### order-food
> AE viết cái procedure thêm món đã - rồi gọi nó ở đây cho nó cập nhật cái order ở trên nha

ORDER_FOOD
- ID_BranchFood INT
- ID_Order INT,
- Quantity INT NOT NULL CHECK (Quantity > 0),
- CONSTRAINT PK_ORDER_FOOD PRIMARY KEY (ID_BranchFood, ID_Order)

In [10]:
def generate_order_food_data(branch_foods: dict, order_id_list: list, foodID_list: list):
    # branch_foods[(id_branch, id_food)] = id_branchfood
    # order_id_list = (ID_Order, ID_Branch)
    
    for orderID, branchID in order_id_list:
        no_food = random.randint(1, 10)
        for j in range(no_food):
            while True:
                foodID = random.choice(foodID_list)
                if (branchID, foodID) in branch_foods:
                    ID_BranchFood = branch_foods[(branchID, foodID)]
                    break
            Quantity = random.randint(1, 5)
            print(
                f"INSERT INTO ORDER_FOOD VALUES ({orderID}, {ID_BranchFood}, {Quantity});"
            )

### online-order

- ID_Online INT,
- TimeOrder TIME NOT NULL,
- CONSTRAINT PK_ONLINE_ORDER PRIMARY KEY (ID_Online)

In [11]:
index = int(len(order_id_list) * 0.7)
online_orders, reservation_orders = order_id_list[:index], order_id_list[index:]

def generate_online_order(order_id_list):
    for orderID, branchID in order_id_list:
        ID_Customer = random.randint(1, no_of_employees)
        TimeOrder = fake.time(pattern="%H:%M:%S")
        print(
            f"INSERT INTO ONLINE_ORDER VALUES ({orderID}, {TimeOrder});"
        )

generate_online_order(online_orders)

INSERT INTO ONLINE_ORDER VALUES (1, 17:04:05);
INSERT INTO ONLINE_ORDER VALUES (2, 20:13:10);
INSERT INTO ONLINE_ORDER VALUES (3, 23:56:05);
INSERT INTO ONLINE_ORDER VALUES (4, 04:21:30);
INSERT INTO ONLINE_ORDER VALUES (5, 04:00:48);
INSERT INTO ONLINE_ORDER VALUES (6, 04:09:18);
INSERT INTO ONLINE_ORDER VALUES (7, 20:10:24);
INSERT INTO ONLINE_ORDER VALUES (8, 14:26:29);
INSERT INTO ONLINE_ORDER VALUES (9, 20:08:07);
INSERT INTO ONLINE_ORDER VALUES (10, 00:31:32);
INSERT INTO ONLINE_ORDER VALUES (11, 03:30:33);
INSERT INTO ONLINE_ORDER VALUES (12, 03:38:21);
INSERT INTO ONLINE_ORDER VALUES (13, 12:21:19);
INSERT INTO ONLINE_ORDER VALUES (14, 01:10:15);
INSERT INTO ONLINE_ORDER VALUES (15, 16:52:29);
INSERT INTO ONLINE_ORDER VALUES (16, 15:32:26);
INSERT INTO ONLINE_ORDER VALUES (17, 15:06:07);
INSERT INTO ONLINE_ORDER VALUES (18, 18:42:48);
INSERT INTO ONLINE_ORDER VALUES (19, 09:42:54);
INSERT INTO ONLINE_ORDER VALUES (20, 12:42:48);
INSERT INTO ONLINE_ORDER VALUES (21, 18:04:09);
INSERT INTO ONLINE_ORDER VALUES (22, 09:48:38);
INSERT INTO ONLINE_ORDER VALUES (23, 23:25:39);
INSERT INTO ONLINE_ORDER VALUES (24, 04:05:42);
INSERT INTO ONLINE_ORDER VALUES (25, 02:21:52);
INSERT INTO ONLINE_ORDER VALUES (26, 21:10:36);
INSERT INTO ONLINE_ORDER VALUES (27, 07:53:55);
INSERT INTO ONLINE_ORDER VALUES (28, 04:18:48);
INSERT INTO ONLINE_ORDER VALUES (29, 07:53:25);
INSERT INTO ONLINE_ORDER VALUES (30, 00:18:48);
INSERT INTO ONLINE_ORDER VALUES (31, 01:23:39);
INSERT INTO ONLINE_ORDER VALUES (32, 08:29:22);
INSERT INTO ONLINE_ORDER VALUES (33, 22:40:19);
INSERT INTO ONLINE_ORDER VALUES (34, 04:12:06);
INSERT INTO ONLINE_ORDER VALUES (35, 01:02:39);
INSERT INTO ONLINE_ORDER VALUES (36, 05:23:39);
INSERT INTO ONLINE_ORDER VALUES (37, 06:52:42);
INSERT INTO ONLINE_ORDER VALUES (38, 05:58:30);
INSERT INTO ONLINE_ORDER VALUES (39, 02:36:14);
INSERT INTO ONLINE_ORDER VALUES (40, 03:17:30);
INSERT INTO ONLINE_ORDER VALUES (41, 08:32:00);
INSERT INTO ONLINE_ORDER VALUES (42, 17:43:21);
INSERT INTO ONLINE_ORDER VALUES (43, 17:16:44);
INSERT INTO ONLINE_ORDER VALUES (44, 20:07:16);
INSERT INTO ONLINE_ORDER VALUES (45, 08:32:53);
INSERT INTO ONLINE_ORDER VALUES (46, 05:05:09);
INSERT INTO ONLINE_ORDER VALUES (47, 22:44:36);
INSERT INTO ONLINE_ORDER VALUES (48, 12:10:39);
INSERT INTO ONLINE_ORDER VALUES (49, 14:15:19);
INSERT INTO ONLINE_ORDER VALUES (50, 07:59:42);
INSERT INTO ONLINE_ORDER VALUES (51, 09:19:17);
INSERT INTO ONLINE_ORDER VALUES (52, 15:59:37);
INSERT INTO ONLINE_ORDER VALUES (53, 04:08:20);
INSERT INTO ONLINE_ORDER VALUES (54, 21:08:25);
INSERT INTO ONLINE_ORDER VALUES (55, 20:45:17);
INSERT INTO ONLINE_ORDER VALUES (56, 21:16:24);
INSERT INTO ONLINE_ORDER VALUES (57, 03:40:53);
INSERT INTO ONLINE_ORDER VALUES (58, 05:31:50);
INSERT INTO ONLINE_ORDER VALUES (59, 09:45:26);
INSERT INTO ONLINE_ORDER VALUES (60, 20:12:00);
INSERT INTO ONLINE_ORDER VALUES (61, 13:02:03);
INSERT INTO ONLINE_ORDER VALUES (62, 02:44:03);
INSERT INTO ONLINE_ORDER VALUES (63, 13:37:09);
INSERT INTO ONLINE_ORDER VALUES (64, 16:03:01);
INSERT INTO ONLINE_ORDER VALUES (65, 03:24:03);
INSERT INTO ONLINE_ORDER VALUES (66, 06:49:02);
INSERT INTO ONLINE_ORDER VALUES (67, 09:33:56);
INSERT INTO ONLINE_ORDER VALUES (68, 21:09:29);
INSERT INTO ONLINE_ORDER VALUES (69, 10:05:26);
INSERT INTO ONLINE_ORDER VALUES (70, 00:39:53);
INSERT INTO ONLINE_ORDER VALUES (71, 16:26:36);
INSERT INTO ONLINE_ORDER VALUES (72, 20:40:52);
INSERT INTO ONLINE_ORDER VALUES (73, 02:31:49);
INSERT INTO ONLINE_ORDER VALUES (74, 12:19:26);
INSERT INTO ONLINE_ORDER VALUES (75, 02:53:54);
INSERT INTO ONLINE_ORDER VALUES (76, 20:15:37);
INSERT INTO ONLINE_ORDER VALUES (77, 03:50:45);
INSERT INTO ONLINE_ORDER VALUES (78, 15:00:50);
INSERT INTO ONLINE_ORDER VALUES (79, 12:22:27);
INSERT INTO ONLINE_ORDER VALUES (80, 11:20:50);
INSERT INTO ONLINE_ORDER VALUES (81, 09:21:12);
INSERT INTO ONLINE_ORDER VALUES (82, 11:06:19);
INSERT INTO ONLINE_ORDER VALUES (83, 11:58:41);
INSERT INTO ONLINE_ORDER VALUES (84, 05:20:42);
INSERT INTO ONLINE_ORDER VALUES (85, 05:53:41);
INSERT INTO ONLINE_ORDER VALUES (86, 15:53:38);
INSERT INTO ONLINE_ORDER VALUES (87, 06:37:32);
INSERT INTO ONLINE_ORDER VALUES (88, 16:44:07);
INSERT INTO ONLINE_ORDER VALUES (89, 23:12:55);
INSERT INTO ONLINE_ORDER VALUES (90, 01:36:57);
INSERT INTO ONLINE_ORDER VALUES (91, 09:01:17);
INSERT INTO ONLINE_ORDER VALUES (92, 13:40:25);
INSERT INTO ONLINE_ORDER VALUES (93, 18:11:21);
INSERT INTO ONLINE_ORDER VALUES (94, 18:49:02);
INSERT INTO ONLINE_ORDER VALUES (95, 02:40:16);
INSERT INTO ONLINE_ORDER VALUES (96, 07:07:39);
INSERT INTO ONLINE_ORDER VALUES (97, 09:19:21);
INSERT INTO ONLINE_ORDER VALUES (98, 11:56:42);
INSERT INTO ONLINE_ORDER VALUES (99, 05:46:33);
INSERT INTO ONLINE_ORDER VALUES (100, 07:06:14);
INSERT INTO ONLINE_ORDER VALUES (101, 19:39:20);
INSERT INTO ONLINE_ORDER VALUES (102, 19:50:00);
INSERT INTO ONLINE_ORDER VALUES (103, 10:16:57);
INSERT INTO ONLINE_ORDER VALUES (104, 21:00:44);
INSERT INTO ONLINE_ORDER VALUES (105, 20:24:46);
INSERT INTO ONLINE_ORDER VALUES (106, 12:41:18);
INSERT INTO ONLINE_ORDER VALUES (107, 14:39:39);
INSERT INTO ONLINE_ORDER VALUES (108, 02:58:20);
INSERT INTO ONLINE_ORDER VALUES (109, 18:08:34);
INSERT INTO ONLINE_ORDER VALUES (110, 03:27:15);
INSERT INTO ONLINE_ORDER VALUES (111, 03:34:15);
INSERT INTO ONLINE_ORDER VALUES (112, 00:37:01);
INSERT INTO ONLINE_ORDER VALUES (113, 18:51:38);
INSERT INTO ONLINE_ORDER VALUES (114, 10:23:21);
INSERT INTO ONLINE_ORDER VALUES (115, 22:45:10);
INSERT INTO ONLINE_ORDER VALUES (116, 18:01:20);
INSERT INTO ONLINE_ORDER VALUES (117, 18:14:59);
INSERT INTO ONLINE_ORDER VALUES (118, 11:31:13);
INSERT INTO ONLINE_ORDER VALUES (119, 02:58:33);
INSERT INTO ONLINE_ORDER VALUES (120, 07:00:32);
INSERT INTO ONLINE_ORDER VALUES (121, 00:18:25);
INSERT INTO ONLINE_ORDER VALUES (122, 08:04:46);
INSERT INTO ONLINE_ORDER VALUES (123, 10:50:33);
INSERT INTO ONLINE_ORDER VALUES (124, 05:57:21);
INSERT INTO ONLINE_ORDER VALUES (125, 23:21:59);
INSERT INTO ONLINE_ORDER VALUES (126, 15:00:44);
INSERT INTO ONLINE_ORDER VALUES (127, 02:13:48);
INSERT INTO ONLINE_ORDER VALUES (128, 14:43:06);
INSERT INTO ONLINE_ORDER VALUES (129, 15:21:07);
INSERT INTO ONLINE_ORDER VALUES (130, 00:58:00);
INSERT INTO ONLINE_ORDER VALUES (131, 04:04:12);
INSERT INTO ONLINE_ORDER VALUES (132, 09:32:59);
INSERT INTO ONLINE_ORDER VALUES (133, 06:47:32);
INSERT INTO ONLINE_ORDER VALUES (134, 03:02:45);
INSERT INTO ONLINE_ORDER VALUES (135, 17:41:57);
INSERT INTO ONLINE_ORDER VALUES (136, 03:32:27);
INSERT INTO ONLINE_ORDER VALUES (137, 23:01:13);
INSERT INTO ONLINE_ORDER VALUES (138, 07:53:38);
INSERT INTO ONLINE_ORDER VALUES (139, 23:39:00);
INSERT INTO ONLINE_ORDER VALUES (140, 19:04:45);
INSERT INTO ONLINE_ORDER VALUES (141, 10:24:46);
INSERT INTO ONLINE_ORDER VALUES (142, 19:18:28);
INSERT INTO ONLINE_ORDER VALUES (143, 03:24:32);
INSERT INTO ONLINE_ORDER VALUES (144, 04:13:21);
INSERT INTO ONLINE_ORDER VALUES (145, 02:08:25);
INSERT INTO ONLINE_ORDER VALUES (146, 13:28:36);
INSERT INTO ONLINE_ORDER VALUES (147, 08:48:20);
INSERT INTO ONLINE_ORDER VALUES (148, 08:23:57);
INSERT INTO ONLINE_ORDER VALUES (149, 08:59:25);
INSERT INTO ONLINE_ORDER VALUES (150, 17:58:57);
INSERT INTO ONLINE_ORDER VALUES (151, 01:16:26);
INSERT INTO ONLINE_ORDER VALUES (152, 15:50:26);
INSERT INTO ONLINE_ORDER VALUES (153, 18:12:08);
INSERT INTO ONLINE_ORDER VALUES (154, 04:00:01);
INSERT INTO ONLINE_ORDER VALUES (155, 21:13:59);
INSERT INTO ONLINE_ORDER VALUES (156, 04:09:49);
INSERT INTO ONLINE_ORDER VALUES (157, 22:56:43);
INSERT INTO ONLINE_ORDER VALUES (158, 02:27:13);
INSERT INTO ONLINE_ORDER VALUES (159, 22:22:42);
INSERT INTO ONLINE_ORDER VALUES (160, 02:34:37);
INSERT INTO ONLINE_ORDER VALUES (161, 13:15:46);
INSERT INTO ONLINE_ORDER VALUES (162, 04:03:07);
INSERT INTO ONLINE_ORDER VALUES (163, 18:40:45);
INSERT INTO ONLINE_ORDER VALUES (164, 22:02:36);
INSERT INTO ONLINE_ORDER VALUES (165, 04:41:41);
INSERT INTO ONLINE_ORDER VALUES (166, 07:58:53);
INSERT INTO ONLINE_ORDER VALUES (167, 06:36:51);
INSERT INTO ONLINE_ORDER VALUES (168, 06:23:13);
INSERT INTO ONLINE_ORDER VALUES (169, 20:17:19);
INSERT INTO ONLINE_ORDER VALUES (170, 11:11:25);
INSERT INTO ONLINE_ORDER VALUES (171, 18:04:18);
INSERT INTO ONLINE_ORDER VALUES (172, 15:17:27);
INSERT INTO ONLINE_ORDER VALUES (173, 13:43:18);
INSERT INTO ONLINE_ORDER VALUES (174, 08:23:22);
INSERT INTO ONLINE_ORDER VALUES (175, 03:09:02);
INSERT INTO ONLINE_ORDER VALUES (176, 18:03:58);
INSERT INTO ONLINE_ORDER VALUES (177, 20:17:06);
INSERT INTO ONLINE_ORDER VALUES (178, 19:12:21);
INSERT INTO ONLINE_ORDER VALUES (179, 04:46:51);
INSERT INTO ONLINE_ORDER VALUES (180, 08:29:48);
INSERT INTO ONLINE_ORDER VALUES (181, 17:31:14);
INSERT INTO ONLINE_ORDER VALUES (182, 04:46:35);
INSERT INTO ONLINE_ORDER VALUES (183, 10:25:56);
INSERT INTO ONLINE_ORDER VALUES (184, 02:44:20);
INSERT INTO ONLINE_ORDER VALUES (185, 04:21:28);
INSERT INTO ONLINE_ORDER VALUES (186, 08:18:42);
INSERT INTO ONLINE_ORDER VALUES (187, 22:36:09);
INSERT INTO ONLINE_ORDER VALUES (188, 14:33:14);
INSERT INTO ONLINE_ORDER VALUES (189, 19:13:15);
INSERT INTO ONLINE_ORDER VALUES (190, 02:51:19);
INSERT INTO ONLINE_ORDER VALUES (191, 07:20:17);
INSERT INTO ONLINE_ORDER VALUES (192, 17:24:53);
INSERT INTO ONLINE_ORDER VALUES (193, 01:37:02);
INSERT INTO ONLINE_ORDER VALUES (194, 03:39:59);
INSERT INTO ONLINE_ORDER VALUES (195, 16:19:04);
INSERT INTO ONLINE_ORDER VALUES (196, 19:22:35);
INSERT INTO ONLINE_ORDER VALUES (197, 09:31:30);
INSERT INTO ONLINE_ORDER VALUES (198, 12:50:28);
INSERT INTO ONLINE_ORDER VALUES (199, 17:35:37);
INSERT INTO ONLINE_ORDER VALUES (200, 16:10:15);
INSERT INTO ONLINE_ORDER VALUES (201, 00:49:11);
INSERT INTO ONLINE_ORDER VALUES (202, 16:17:04);
INSERT INTO ONLINE_ORDER VALUES (203, 05:15:58);
INSERT INTO ONLINE_ORDER VALUES (204, 15:13:20);
INSERT INTO ONLINE_ORDER VALUES (205, 16:51:15);
INSERT INTO ONLINE_ORDER VALUES (206, 20:37:58);
INSERT INTO ONLINE_ORDER VALUES (207, 01:36:01);
INSERT INTO ONLINE_ORDER VALUES (208, 05:04:31);
INSERT INTO ONLINE_ORDER VALUES (209, 03:37:15);
INSERT INTO ONLINE_ORDER VALUES (210, 18:15:03);
INSERT INTO ONLINE_ORDER VALUES (211, 02:27:06);
INSERT INTO ONLINE_ORDER VALUES (212, 00:06:18);
INSERT INTO ONLINE_ORDER VALUES (213, 08:50:24);
INSERT INTO ONLINE_ORDER VALUES (214, 18:57:45);
INSERT INTO ONLINE_ORDER VALUES (215, 22:22:47);
INSERT INTO ONLINE_ORDER VALUES (216, 01:09:51);
INSERT INTO ONLINE_ORDER VALUES (217, 10:04:18);
INSERT INTO ONLINE_ORDER VALUES (218, 09:11:08);
INSERT INTO ONLINE_ORDER VALUES (219, 04:07:04);
INSERT INTO ONLINE_ORDER VALUES (220, 14:42:24);
INSERT INTO ONLINE_ORDER VALUES (221, 10:24:12);
INSERT INTO ONLINE_ORDER VALUES (222, 00:25:51);
INSERT INTO ONLINE_ORDER VALUES (223, 03:10:39);
INSERT INTO ONLINE_ORDER VALUES (224, 05:52:29);
INSERT INTO ONLINE_ORDER VALUES (225, 23:23:50);
INSERT INTO ONLINE_ORDER VALUES (226, 01:49:45);
INSERT INTO ONLINE_ORDER VALUES (227, 04:04:20);
INSERT INTO ONLINE_ORDER VALUES (228, 14:03:21);
INSERT INTO ONLINE_ORDER VALUES (229, 14:11:27);
INSERT INTO ONLINE_ORDER VALUES (230, 21:39:52);
INSERT INTO ONLINE_ORDER VALUES (231, 13:09:16);
INSERT INTO ONLINE_ORDER VALUES (232, 14:47:00);
INSERT INTO ONLINE_ORDER VALUES (233, 16:59:33);
INSERT INTO ONLINE_ORDER VALUES (234, 23:03:23);
INSERT INTO ONLINE_ORDER VALUES (235, 18:47:46);
INSERT INTO ONLINE_ORDER VALUES (236, 02:38:38);
INSERT INTO ONLINE_ORDER VALUES (237, 22:24:21);
INSERT INTO ONLINE_ORDER VALUES (238, 08:46:56);
INSERT INTO ONLINE_ORDER VALUES (239, 19:04:10);
INSERT INTO ONLINE_ORDER VALUES (240, 15:38:16);
INSERT INTO ONLINE_ORDER VALUES (241, 12:48:00);
INSERT INTO ONLINE_ORDER VALUES (242, 21:35:42);
INSERT INTO ONLINE_ORDER VALUES (243, 00:43:16);
INSERT INTO ONLINE_ORDER VALUES (244, 04:40:43);
INSERT INTO ONLINE_ORDER VALUES (245, 06:42:54);
INSERT INTO ONLINE_ORDER VALUES (246, 01:56:11);
INSERT INTO ONLINE_ORDER VALUES (247, 10:05:28);
INSERT INTO ONLINE_ORDER VALUES (248, 22:16:00);
INSERT INTO ONLINE_ORDER VALUES (249, 13:33:48);
INSERT INTO ONLINE_ORDER VALUES (250, 16:57:49);
INSERT INTO ONLINE_ORDER VALUES (251, 17:24:13);
INSERT INTO ONLINE_ORDER VALUES (252, 19:13:05);
INSERT INTO ONLINE_ORDER VALUES (253, 07:50:39);
INSERT INTO ONLINE_ORDER VALUES (254, 02:27:27);
INSERT INTO ONLINE_ORDER VALUES (255, 06:02:23);
INSERT INTO ONLINE_ORDER VALUES (256, 15:45:12);
INSERT INTO ONLINE_ORDER VALUES (257, 16:39:57);
INSERT INTO ONLINE_ORDER VALUES (258, 15:24:34);
INSERT INTO ONLINE_ORDER VALUES (259, 15:08:37);
INSERT INTO ONLINE_ORDER VALUES (260, 23:17:18);
INSERT INTO ONLINE_ORDER VALUES (261, 15:49:06);
INSERT INTO ONLINE_ORDER VALUES (262, 13:20:44);
INSERT INTO ONLINE_ORDER VALUES (263, 16:01:43);
INSERT INTO ONLINE_ORDER VALUES (264, 08:09:41);
INSERT INTO ONLINE_ORDER VALUES (265, 00:41:45);
INSERT INTO ONLINE_ORDER VALUES (266, 11:01:27);
INSERT INTO ONLINE_ORDER VALUES (267, 03:26:49);
INSERT INTO ONLINE_ORDER VALUES (268, 23:18:06);
INSERT INTO ONLINE_ORDER VALUES (269, 15:35:25);
INSERT INTO ONLINE_ORDER VALUES (270, 03:53:54);
INSERT INTO ONLINE_ORDER VALUES (271, 11:05:05);
INSERT INTO ONLINE_ORDER VALUES (272, 01:10:05);
INSERT INTO ONLINE_ORDER VALUES (273, 05:23:07);
INSERT INTO ONLINE_ORDER VALUES (274, 16:46:24);
INSERT INTO ONLINE_ORDER VALUES (275, 04:09:13);
INSERT INTO ONLINE_ORDER VALUES (276, 07:10:03);
INSERT INTO ONLINE_ORDER VALUES (277, 04:11:45);
INSERT INTO ONLINE_ORDER VALUES (278, 07:39:26);
INSERT INTO ONLINE_ORDER VALUES (279, 18:22:36);
INSERT INTO ONLINE_ORDER VALUES (280, 05:22:41);
INSERT INTO ONLINE_ORDER VALUES (281, 02:45:51);
INSERT INTO ONLINE_ORDER VALUES (282, 11:52:01);
INSERT INTO ONLINE_ORDER VALUES (283, 21:53:22);
INSERT INTO ONLINE_ORDER VALUES (284, 20:27:22);
INSERT INTO ONLINE_ORDER VALUES (285, 15:13:24);
INSERT INTO ONLINE_ORDER VALUES (286, 22:35:05);
INSERT INTO ONLINE_ORDER VALUES (287, 10:03:23);
INSERT INTO ONLINE_ORDER VALUES (288, 13:36:21);
INSERT INTO ONLINE_ORDER VALUES (289, 15:31:19);
INSERT INTO ONLINE_ORDER VALUES (290, 12:46:17);
INSERT INTO ONLINE_ORDER VALUES (291, 02:15:21);
INSERT INTO ONLINE_ORDER VALUES (292, 15:22:56);
INSERT INTO ONLINE_ORDER VALUES (293, 20:26:22);
INSERT INTO ONLINE_ORDER VALUES (294, 00:49:56);
INSERT INTO ONLINE_ORDER VALUES (295, 17:23:37);
INSERT INTO ONLINE_ORDER VALUES (296, 17:46:02);
INSERT INTO ONLINE_ORDER VALUES (297, 06:31:41);
INSERT INTO ONLINE_ORDER VALUES (298, 16:50:16);
INSERT INTO ONLINE_ORDER VALUES (299, 02:58:59);
INSERT INTO ONLINE_ORDER VALUES (300, 08:55:20);
INSERT INTO ONLINE_ORDER VALUES (301, 01:30:01);
INSERT INTO ONLINE_ORDER VALUES (302, 10:53:52);
INSERT INTO ONLINE_ORDER VALUES (303, 06:46:03);
INSERT INTO ONLINE_ORDER VALUES (304, 01:06:50);
INSERT INTO ONLINE_ORDER VALUES (305, 14:20:51);
INSERT INTO ONLINE_ORDER VALUES (306, 03:39:10);
INSERT INTO ONLINE_ORDER VALUES (307, 16:17:39);
INSERT INTO ONLINE_ORDER VALUES (308, 22:06:00);
INSERT INTO ONLINE_ORDER VALUES (309, 05:45:24);
INSERT INTO ONLINE_ORDER VALUES (310, 20:26:45);
INSERT INTO ONLINE_ORDER VALUES (311, 03:23:20);
INSERT INTO ONLINE_ORDER VALUES (312, 09:26:26);
INSERT INTO ONLINE_ORDER VALUES (313, 22:47:45);
INSERT INTO ONLINE_ORDER VALUES (314, 08:20:53);
INSERT INTO ONLINE_ORDER VALUES (315, 10:50:09);
INSERT INTO ONLINE_ORDER VALUES (316, 00:58:35);
INSERT INTO ONLINE_ORDER VALUES (317, 02:03:46);
INSERT INTO ONLINE_ORDER VALUES (318, 01:35:35);
INSERT INTO ONLINE_ORDER VALUES (319, 17:08:57);
INSERT INTO ONLINE_ORDER VALUES (320, 22:52:34);
INSERT INTO ONLINE_ORDER VALUES (321, 03:25:29);
INSERT INTO ONLINE_ORDER VALUES (322, 09:35:51);
INSERT INTO ONLINE_ORDER VALUES (323, 00:34:01);
INSERT INTO ONLINE_ORDER VALUES (324, 20:03:08);
INSERT INTO ONLINE_ORDER VALUES (325, 12:47:08);
INSERT INTO ONLINE_ORDER VALUES (326, 22:01:07);
INSERT INTO ONLINE_ORDER VALUES (327, 08:40:08);
INSERT INTO ONLINE_ORDER VALUES (328, 02:31:37);
INSERT INTO ONLINE_ORDER VALUES (329, 07:20:24);
INSERT INTO ONLINE_ORDER VALUES (330, 17:58:36);
INSERT INTO ONLINE_ORDER VALUES (331, 08:52:42);
INSERT INTO ONLINE_ORDER VALUES (332, 21:22:01);
INSERT INTO ONLINE_ORDER VALUES (333, 13:16:08);
INSERT INTO ONLINE_ORDER VALUES (334, 07:13:21);
INSERT INTO ONLINE_ORDER VALUES (335, 08:01:32);
INSERT INTO ONLINE_ORDER VALUES (336, 00:56:04);
INSERT INTO ONLINE_ORDER VALUES (337, 06:00:26);
INSERT INTO ONLINE_ORDER VALUES (338, 17:11:40);
INSERT INTO ONLINE_ORDER VALUES (339, 03:53:01);
INSERT INTO ONLINE_ORDER VALUES (340, 12:25:28);
INSERT INTO ONLINE_ORDER VALUES (341, 16:15:48);
INSERT INTO ONLINE_ORDER VALUES (342, 02:05:41);
INSERT INTO ONLINE_ORDER VALUES (343, 09:09:34);
INSERT INTO ONLINE_ORDER VALUES (344, 01:54:50);
INSERT INTO ONLINE_ORDER VALUES (345, 12:32:15);
INSERT INTO ONLINE_ORDER VALUES (346, 16:46:17);
INSERT INTO ONLINE_ORDER VALUES (347, 12:58:17);
INSERT INTO ONLINE_ORDER VALUES (348, 04:54:40);
INSERT INTO ONLINE_ORDER VALUES (349, 14:26:24);
INSERT INTO ONLINE_ORDER VALUES (350, 17:51:50);
INSERT INTO ONLINE_ORDER VALUES (351, 14:35:19);
INSERT INTO ONLINE_ORDER VALUES (352, 09:01:48);
INSERT INTO ONLINE_ORDER VALUES (353, 20:34:33);
INSERT INTO ONLINE_ORDER VALUES (354, 21:53:42);
INSERT INTO ONLINE_ORDER VALUES (355, 16:18:20);
INSERT INTO ONLINE_ORDER VALUES (356, 15:45:04);
INSERT INTO ONLINE_ORDER VALUES (357, 19:46:27);
INSERT INTO ONLINE_ORDER VALUES (358, 14:06:29);
INSERT INTO ONLINE_ORDER VALUES (359, 14:23:15);
INSERT INTO ONLINE_ORDER VALUES (360, 23:14:11);
INSERT INTO ONLINE_ORDER VALUES (361, 22:18:53);
INSERT INTO ONLINE_ORDER VALUES (362, 11:57:39);
INSERT INTO ONLINE_ORDER VALUES (363, 19:36:36);
INSERT INTO ONLINE_ORDER VALUES (364, 01:30:26);
INSERT INTO ONLINE_ORDER VALUES (365, 20:48:25);
INSERT INTO ONLINE_ORDER VALUES (366, 09:59:16);
INSERT INTO ONLINE_ORDER VALUES (367, 19:13:20);
INSERT INTO ONLINE_ORDER VALUES (368, 15:08:34);
INSERT INTO ONLINE_ORDER VALUES (369, 17:38:18);
INSERT INTO ONLINE_ORDER VALUES (370, 13:36:34);
INSERT INTO ONLINE_ORDER VALUES (371, 21:04:04);
INSERT INTO ONLINE_ORDER VALUES (372, 09:01:26);
INSERT INTO ONLINE_ORDER VALUES (373, 03:27:08);
INSERT INTO ONLINE_ORDER VALUES (374, 12:55:36);
INSERT INTO ONLINE_ORDER VALUES (375, 03:03:23);
INSERT INTO ONLINE_ORDER VALUES (376, 02:35:01);
INSERT INTO ONLINE_ORDER VALUES (377, 20:37:35);
INSERT INTO ONLINE_ORDER VALUES (378, 23:43:03);
INSERT INTO ONLINE_ORDER VALUES (379, 18:00:10);
INSERT INTO ONLINE_ORDER VALUES (380, 12:53:14);
INSERT INTO ONLINE_ORDER VALUES (381, 16:01:42);
INSERT INTO ONLINE_ORDER VALUES (382, 15:54:13);
INSERT INTO ONLINE_ORDER VALUES (383, 20:25:49);
INSERT INTO ONLINE_ORDER VALUES (384, 09:45:38);
INSERT INTO ONLINE_ORDER VALUES (385, 07:18:59);
INSERT INTO ONLINE_ORDER VALUES (386, 18:21:31);
INSERT INTO ONLINE_ORDER VALUES (387, 14:54:17);
INSERT INTO ONLINE_ORDER VALUES (388, 09:36:24);
INSERT INTO ONLINE_ORDER VALUES (389, 12:37:13);
INSERT INTO ONLINE_ORDER VALUES (390, 03:39:23);
INSERT INTO ONLINE_ORDER VALUES (391, 07:23:34);
INSERT INTO ONLINE_ORDER VALUES (392, 09:14:16);
INSERT INTO ONLINE_ORDER VALUES (393, 12:21:32);
INSERT INTO ONLINE_ORDER VALUES (394, 06:45:17);
INSERT INTO ONLINE_ORDER VALUES (395, 03:07:27);
INSERT INTO ONLINE_ORDER VALUES (396, 15:41:06);
INSERT INTO ONLINE_ORDER VALUES (397, 02:04:54);
INSERT INTO ONLINE_ORDER VALUES (398, 19:39:39);
INSERT INTO ONLINE_ORDER VALUES (399, 19:11:43);
INSERT INTO ONLINE_ORDER VALUES (400, 17:53:41);
INSERT INTO ONLINE_ORDER VALUES (401, 13:34:49);
INSERT INTO ONLINE_ORDER VALUES (402, 12:30:31);
INSERT INTO ONLINE_ORDER VALUES (403, 13:27:25);
INSERT INTO ONLINE_ORDER VALUES (404, 06:23:49);
INSERT INTO ONLINE_ORDER VALUES (405, 06:30:22);
INSERT INTO ONLINE_ORDER VALUES (406, 22:19:31);
INSERT INTO ONLINE_ORDER VALUES (407, 16:21:32);
INSERT INTO ONLINE_ORDER VALUES (408, 17:32:37);
INSERT INTO ONLINE_ORDER VALUES (409, 23:41:02);
INSERT INTO ONLINE_ORDER VALUES (410, 21:42:04);

RESERVATION_ORDER
- ID_Reservation INT
- ID_Table INT
- ArrivalTime TIME NOT NULL,
- NumberOfPeople INT NOT NULL CHECK (NumberOfPeople > 0),
- Notes NVARCHAR(500),
- CONSTRAINT PK_RESERVATION_ORDER PRIMARY KEY (ID_Reservation)

In [12]:
def generate_reservation_order(order_id_list):
    for i, value in enumerate(order_id_list):
        orderID, branchID = value
        ID_Table = random.randint(1, 50)
        ArrivalTime = fake.time(pattern="%H:%M:%S")
        NumPeople = random.randint(1, 10)
        print(
            f'INSERT INTO RESERVATION_ORDER VALUES {orderID}, {ID_Table}, {ArrivalTime}, {NumPeople}, "NULL");'
        )
generate_reservation_order(reservation_orders)

INSERT INTO RESERVATION_ORDER VALUES 701, 29, 06:39:18, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 702, 49, 10:15:10, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 703, 2, 00:01:28, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 704, 26, 05:06:14, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 705, 49, 17:06:39, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 706, 6, 19:23:26, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 707, 6, 06:11:45, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 708, 19, 11:24:41, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 709, 10, 17:23:23, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 710, 30, 23:35:14, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 711, 21, 14:42:05, 9, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 712, 15, 01:42:56, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 713, 4, 11:59:28, 9, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 714, 24, 15:11:40, 10, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 715, 17, 19:41:09, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 716, 18, 23:52:14, 10, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 717, 22, 04:07:10, 10, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 718, 36, 15:48:57, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 719, 12, 06:56:39, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 720, 33, 15:34:15, 9, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 721, 26, 13:06:27, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 722, 24, 14:02:16, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 723, 17, 17:54:15, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 724, 29, 23:37:08, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 725, 46, 01:24:38, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 726, 2, 00:43:22, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 727, 27, 03:41:15, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 728, 45, 13:01:20, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 729, 25, 03:36:25, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 730, 5, 21:08:46, 9, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 731, 29, 07:55:35, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 732, 8, 06:03:58, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 733, 16, 13:36:50, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 734, 38, 04:08:22, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 735, 15, 13:37:59, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 736, 29, 17:18:36, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 737, 3, 21:17:01, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 738, 4, 04:32:47, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 739, 45, 17:22:33, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 740, 2, 14:20:36, 10, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 741, 18, 14:59:37, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 742, 20, 04:57:43, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 743, 15, 18:02:33, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 744, 23, 12:44:02, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 745, 24, 06:24:33, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 746, 4, 02:30:37, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 747, 47, 12:45:46, 10, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 748, 36, 09:24:56, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 749, 30, 16:34:20, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 750, 8, 14:08:34, 10, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 751, 42, 23:04:38, 10, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 752, 49, 10:41:19, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 753, 35, 06:17:47, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 754, 40, 12:35:30, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 755, 25, 22:03:53, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 756, 39, 11:00:54, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 757, 18, 14:27:20, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 758, 7, 00:34:11, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 759, 31, 22:22:51, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 760, 30, 18:28:32, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 761, 15, 09:34:31, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 762, 24, 23:23:24, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 763, 48, 21:38:07, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 764, 3, 03:52:09, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 765, 21, 08:14:02, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 766, 50, 17:08:12, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 767, 32, 20:51:05, 9, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 768, 18, 18:32:36, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 769, 29, 07:33:46, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 770, 25, 02:35:58, 9, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 771, 38, 21:45:58, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 772, 20, 08:13:26, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 773, 48, 01:32:52, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 774, 42, 17:19:14, 10, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 775, 31, 17:37:51, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 776, 23, 02:31:26, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 777, 8, 06:30:40, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 778, 30, 21:00:58, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 779, 6, 10:08:57, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 780, 26, 14:33:17, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 781, 47, 23:05:58, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 782, 6, 16:25:06, 10, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 783, 2, 09:30:56, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 784, 40, 00:04:33, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 785, 26, 01:32:43, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 786, 13, 02:03:38, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 787, 26, 07:15:21, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 788, 35, 22:59:56, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 789, 4, 10:13:09, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 790, 37, 05:36:57, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 791, 16, 03:43:41, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 792, 43, 20:18:59, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 793, 48, 05:40:38, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 794, 15, 10:34:53, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 795, 3, 20:13:16, 9, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 796, 11, 23:55:24, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 797, 13, 01:28:00, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 798, 42, 14:42:57, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 799, 7, 05:04:02, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 800, 43, 07:23:45, 10, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 801, 48, 21:08:13, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 802, 17, 22:58:20, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 803, 23, 23:00:22, 9, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 804, 5, 01:29:44, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 805, 38, 16:29:50, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 806, 2, 13:53:11, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 807, 29, 02:02:09, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 808, 25, 12:15:54, 9, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 809, 40, 14:24:44, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 810, 13, 07:35:31, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 811, 33, 19:50:02, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 812, 45, 20:45:32, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 813, 16, 19:50:17, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 814, 5, 14:28:35, 10, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 815, 15, 08:09:06, 10, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 816, 9, 20:55:31, 9, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 817, 31, 08:54:46, 10, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 818, 31, 00:50:51, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 819, 11, 02:16:38, 9, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 820, 27, 10:42:39, 10, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 821, 18, 13:36:44, 9, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 822, 9, 05:22:06, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 823, 22, 20:06:39, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 824, 38, 09:49:09, 9, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 825, 14, 11:14:20, 9, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 826, 15, 16:33:23, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 827, 45, 01:59:33, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 828, 22, 21:51:51, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 829, 9, 23:07:09, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 830, 32, 02:30:25, 9, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 831, 37, 22:40:13, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 832, 19, 01:16:13, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 833, 50, 18:30:06, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 834, 7, 18:50:46, 9, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 835, 25, 09:57:18, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 836, 24, 14:39:05, 9, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 837, 25, 11:27:13, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 838, 16, 09:53:19, 9, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 839, 36, 04:44:46, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 840, 29, 03:19:51, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 841, 1, 06:16:43, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 842, 4, 21:32:33, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 843, 30, 05:18:29, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 844, 18, 19:12:52, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 845, 45, 01:11:50, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 846, 41, 01:56:24, 10, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 847, 50, 23:33:39, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 848, 32, 21:27:11, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 849, 28, 10:22:59, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 850, 10, 06:07:48, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 851, 38, 16:16:24, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 852, 41, 01:52:24, 9, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 853, 2, 10:55:37, 9, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 854, 13, 01:31:41, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 855, 26, 12:49:00, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 856, 26, 20:36:03, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 857, 43, 17:15:36, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 858, 44, 17:10:13, 9, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 859, 38, 12:27:20, 10, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 860, 22, 04:20:01, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 861, 6, 10:41:22, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 862, 16, 17:09:08, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 863, 31, 13:28:48, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 864, 2, 23:02:43, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 865, 43, 14:41:51, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 866, 37, 11:38:07, 9, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 867, 46, 00:26:41, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 868, 12, 15:45:59, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 869, 36, 13:02:36, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 870, 11, 05:36:18, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 871, 10, 10:41:24, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 872, 11, 11:56:32, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 873, 20, 19:11:41, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 874, 26, 08:42:01, 9, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 875, 20, 02:46:03, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 876, 42, 00:45:03, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 877, 33, 08:27:25, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 878, 50, 08:38:40, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 879, 30, 20:44:55, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 880, 45, 13:14:30, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 881, 27, 16:11:04, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 882, 47, 05:37:54, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 883, 45, 01:53:42, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 884, 33, 16:57:14, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 885, 14, 21:28:46, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 886, 26, 11:23:52, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 887, 26, 13:16:06, 9, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 888, 29, 00:35:02, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 889, 1, 03:09:55, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 890, 15, 07:31:32, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 891, 24, 18:24:05, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 892, 33, 13:03:17, 10, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 893, 17, 12:25:15, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 894, 7, 18:59:29, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 895, 38, 05:06:51, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 896, 38, 07:08:50, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 897, 35, 22:22:53, 9, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 898, 33, 08:39:34, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 899, 13, 22:24:55, 10, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 900, 8, 09:32:37, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 901, 33, 11:10:39, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 902, 38, 11:31:31, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 903, 8, 11:23:14, 10, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 904, 33, 16:49:51, 10, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 905, 15, 09:38:47, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 906, 4, 21:49:16, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 907, 7, 08:59:10, 10, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 908, 10, 23:33:05, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 909, 41, 13:13:25, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 910, 18, 00:30:47, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 911, 4, 07:01:45, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 912, 8, 07:36:50, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 913, 29, 13:16:38, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 914, 35, 06:35:36, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 915, 23, 12:20:13, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 916, 10, 16:16:07, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 917, 40, 03:36:53, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 918, 16, 07:11:54, 10, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 919, 36, 14:57:44, 10, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 920, 42, 07:09:50, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 921, 18, 00:36:06, 9, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 922, 11, 17:06:57, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 923, 8, 19:33:06, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 924, 28, 12:25:52, 10, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 925, 36, 16:50:18, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 926, 43, 01:02:24, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 927, 27, 08:48:24, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 928, 41, 15:27:35, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 929, 29, 21:30:07, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 930, 29, 12:16:39, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 931, 37, 06:44:51, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 932, 10, 17:40:36, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 933, 19, 15:33:47, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 934, 23, 20:52:49, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 935, 8, 18:23:40, 10, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 936, 21, 23:40:58, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 937, 21, 05:23:19, 10, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 938, 26, 11:55:05, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 939, 2, 20:32:19, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 940, 37, 00:07:40, 9, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 941, 28, 18:24:04, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 942, 35, 02:18:23, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 943, 38, 10:40:24, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 944, 46, 20:00:36, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 945, 50, 18:00:24, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 946, 12, 22:23:53, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 947, 10, 04:13:10, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 948, 8, 02:58:24, 9, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 949, 5, 18:32:24, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 950, 41, 01:02:34, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 951, 8, 02:04:48, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 952, 11, 02:01:02, 9, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 953, 26, 19:30:32, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 954, 26, 10:29:51, 9, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 955, 48, 03:20:45, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 956, 24, 18:01:04, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 957, 41, 05:48:33, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 958, 46, 15:03:04, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 959, 38, 14:34:05, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 960, 35, 00:33:50, 9, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 961, 8, 09:36:38, 10, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 962, 3, 07:52:26, 9, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 963, 4, 06:49:48, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 964, 27, 06:24:49, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 965, 26, 05:53:28, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 966, 14, 17:29:59, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 967, 34, 08:08:51, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 968, 8, 20:48:13, 10, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 969, 32, 19:15:34, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 970, 28, 12:31:12, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 971, 32, 11:29:10, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 972, 34, 01:21:53, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 973, 7, 12:45:29, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 974, 23, 21:49:53, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 975, 8, 19:01:47, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 976, 29, 15:23:24, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 977, 14, 02:53:54, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 978, 24, 17:09:21, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 979, 50, 18:20:54, 9, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 980, 44, 03:33:18, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 981, 18, 21:55:16, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 982, 27, 10:34:55, 10, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 983, 24, 06:42:10, 9, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 984, 33, 07:09:42, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 985, 44, 15:11:17, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 986, 33, 13:15:32, 10, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 987, 39, 10:18:50, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 988, 34, 20:31:37, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 989, 24, 18:51:44, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 990, 49, 20:44:24, 10, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 991, 30, 20:07:29, 9, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 992, 13, 07:37:57, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 993, 33, 08:45:41, 9, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 994, 50, 20:21:45, 1, "NULL");