In [253]:
import random
from copy import deepcopy

from faker import Faker

In [254]:
fake = Faker()

departments = [
    "Management",
    "Kitchen",
    "Cleaning",
    "Security",
    "Reception",
    "Accounting",
    "Service",
]

mem_levels = ["Bronze", "Silver", "Gold"]

no_of_branches = 15
no_of_areas = 5
no_of_employees = 100
no_of_parkings = 15
no_of_branch_foods = 600 # 40 per branch


sushi_themes = [
    "Sushi World",
    "Sushi Corner",
    "Sushi Factory",
    "Sushi Palace",
    "Sushi Garden",
    "Sushi Island",
    "Sushi Bay",
    "Sushi Bar",
    "Sushi Spot",
    "Sushi Hub",
    "Sushi Haven",
]

sushi_food_types = [
    "Rolls",
    "Sashimi",
    "Nigiri",
    "Hand Rolls",
    "Bento",
    "Appetizers",
    "Desserts",
    "Beverages",
    "Ramen",
    "Donburi",
]

sushi_food_items = {
    "Rolls": [
        "California Roll",
        "Spicy Tuna Roll",
        "Dragon Roll",
        "Rainbow Roll",
        "Philadelphia Roll",
        "Tempura Roll",
        "Vegetarian Roll",
    ],
    "Sashimi": [
        "Salmon Sashimi",
        "Tuna Sashimi",
        "Yellowtail Sashimi",
        "Octopus Sashimi",
        "Snapper Sashimi",
        "Mackerel Sashimi",
    ],
    "Nigiri": [
        "Salmon Nigiri",
        "Tuna Nigiri",
        "Eel Nigiri",
        "Shrimp Nigiri",
        "Egg Nigiri",
        "Crab Nigiri",
    ],
    "Hand Rolls": [
        "Spicy Tuna Hand Roll",
        "California Hand Roll",
        "Salmon Avocado Hand Roll",
        "Vegetable Hand Roll",
        "Shrimp Tempura Hand Roll",
    ],
    "Bento": [
        "Chicken Teriyaki Bento",
        "Salmon Teriyaki Bento",
        "Beef Bulgogi Bento",
        "Vegetarian Bento",
    ],
    "Appetizers": [
        "Edamame",
        "Gyoza",
        "Seaweed Salad",
        "Takoyaki",
        "Agedashi Tofu",
        "Miso Soup",
        "Spring Rolls",
    ],
    "Desserts": [
        "Mochi Ice Cream",
        "Green Tea Cheesecake",
        "Dorayaki",
        "Matcha Panna Cotta",
        "Sesame Balls",
    ],
    "Beverages": [
        "Green Tea",
        "Sake",
        "Plum Wine",
        "Ramune Soda",
        "Matcha Latte",
        "Iced Oolong Tea",
    ],
    "Ramen": [
        "Shoyu Ramen",
        "Miso Ramen",
        "Tonkotsu Ramen",
        "Spicy Chicken Ramen",
        "Vegetable Ramen",
        "Seafood Ramen",
    ],
    "Donburi": [
        "Gyudon (Beef Bowl)",
        "Katsudon (Pork Cutlet Bowl)",
        "Oyakodon (Chicken and Egg Bowl)",
        "Unadon (Eel Bowl)",
        "Tekka Don (Tuna Bowl)",
        "Chirashi Don (Scattered Sushi Bowl)",
    ],
}

### order
> AE ĐỂ ID_CUSTOMER NULL NHA, LẤY branch_table_list, để orderDate vào năm 2022, 2023, để totalPrice với actualPrice = 0 hết nha

ORDER
- ID_Order INT,
- ID_Table INT,
- OrderDate DATE NOT NULL DEFAULT GETDATE(),
- TotalPrice INT,
- ActualPrice INT,
- ID_Customer INT,
- ID_Review INT,
- ID_Employee INT,
- ID_Branch INT,
- CONSTRAINT PK_ID_ORDER PRIMARY KEY (ID_Order)

In [255]:
def generate_table_data(branch_id_list):
    branch_table_list = {}
    id_table_count = 1
    for branch_id in branch_id_list:
        branch_table_list[branch_id] = []
        num_records = fake.random_int(20, 30)
        for i in range(1, num_records + 1):
            id_table = id_table_count
            branch_table_list[branch_id].append(id_table)
            number_of_seats = fake.random_element([2, 4, 6, 8])
            status_table = random.choices([0, 1], weights=[0.5, 0.5], k=1)[0]
            # print(
            #     f"INSERT INTO TABLE (ID_Table, NumberOfSeats, Status, ID_Branch) VALUES ({id_table}, {number_of_seats}, {status_table}, {branch_id});"
            # )
            id_table_count += 1
    return branch_table_list

branch_id_list = list(range(1, no_of_branches + 1))
branch_table_list = generate_table_data(branch_id_list)

In [256]:
def generate_order_id_list(branch_table_list: dict, no_records: int, has_table_ratio: float = 0.8) -> dict:

    order_id_list = {
        "ID_Order": [],
        "ID_Table": [],
        "OrderDate": [],
        "TotalPrice": [],
        "ActualPrice": [],
        "ID_Customer": [],
        "ID_Review": [],
        "ID_Employee": [],
        "ID_Branch": [],
    }
    TotalPrice, ActualPrice = 0, 0
    review_set = set()
    
    print("INSERT INTO ORDER\nVALUES")
    
    for ID_Branch, tableIDs in branch_table_list.items():
        for i in range(1, no_records + 1):
            ID_Order = i
            ID_Table = random.choice(tableIDs) if i < (no_records * has_table_ratio) else "NULL" # 60% of orders are from tables
            OrderDate = fake.date_between(start_date = "-2y", end_date = "-1y")
            ID_Customer = random.randint(1, no_records + 1)
    
            ID_Review = random.randint(1, no_records + 1)
            while ID_Review in review_set:
                ID_Review = random.randint(1, no_records + 1)
            review_set.add(ID_Review)
            
            ID_Employee = random.randint(1, no_of_employees + 1)

            print(
                f"\t({ID_Order}, {ID_Table}, {OrderDate}, {TotalPrice}, {ActualPrice}, {ID_Customer}, {ID_Review}, {ID_Employee}, {ID_Branch})",
                end = ",\n"
            )
            order_id_list["ID_Order"].append(ID_Order)
            order_id_list["ID_Table"].append(ID_Table)
            order_id_list["OrderDate"].append(OrderDate)
            order_id_list["TotalPrice"].append(TotalPrice)
            order_id_list["ActualPrice"].append(ActualPrice)
            order_id_list["ID_Customer"].append(ID_Customer)
            order_id_list["ID_Review"].append(ID_Review)
            order_id_list["ID_Employee"].append(ID_Employee)
            order_id_list["ID_Branch"].append(ID_Branch)

        review_set.clear()

    return order_id_list

order_id_list = generate_order_id_list(branch_table_list, 20)

INSERT INTO ORDER
VALUES
	(1, 9, 2022-12-24, 0, 0, 14, 16, 69, 1),
	(2, 20, 2023-03-17, 0, 0, 16, 6, 39, 1),
	(3, 8, 2023-11-27, 0, 0, 19, 14, 87, 1),
	(4, 5, 2023-04-06, 0, 0, 15, 15, 6, 1),
	(5, 22, 2023-08-09, 0, 0, 21, 12, 35, 1),
	(6, 30, 2023-11-17, 0, 0, 3, 1, 33, 1),
	(7, 6, 2023-04-09, 0, 0, 3, 11, 7, 1),
	(8, 13, 2023-09-24, 0, 0, 1, 18, 1, 1),
	(9, 1, 2023-08-09, 0, 0, 14, 5, 57, 1),
	(10, 28, 2023-02-10, 0, 0, 3, 7, 61, 1),
	(11, 1, 2023-06-15, 0, 0, 5, 20, 12, 1),
	(12, 13, 2023-03-18, 0, 0, 10, 17, 64, 1),
	(13, 26, 2023-04-26, 0, 0, 16, 19, 95, 1),
	(14, 18, 2023-03-10, 0, 0, 11, 8, 38, 1),
	(15, 15, 2023-11-20, 0, 0, 12, 13, 25, 1),
	(16, NULL, 2023-09-02, 0, 0, 12, 10, 6, 1),
	(17, NULL, 2023-03-22, 0, 0, 8, 2, 101, 1),
	(18, NULL, 2023-12-02, 0, 0, 3, 4, 69, 1),
	(19, NULL, 2023-11-23, 0, 0, 1, 3, 33, 1),
	(20, NULL, 2023-09-04, 0, 0, 5, 9, 90, 1),
	(1, 40, 2023-09-08, 0, 0, 20, 19, 76, 2),
	(2, 43, 2023-07-17, 0, 0, 12, 7, 55, 2),
	(3, 46, 2023-05-18, 0, 0, 2, 21, 36, 2),
	(4, 36, 2023-08-22, 0, 0, 15, 12, 8, 2),
	(5, 35, 2023-01-23, 0, 0, 16, 16, 68, 2),
	(6, 36, 2023-06-25, 0, 0, 14, 4, 68, 2),
	(7, 32, 2023-02-26, 0, 0, 15, 20, 26, 2),
	(8, 40, 2023-04-28, 0, 0, 13, 3, 38, 2),
	(9, 51, 2023-06-27, 0, 0, 15, 10, 52, 2),
	(10, 53, 2023-09-14, 0, 0, 19, 6, 2, 2),
	(11, 44, 2023-04-04, 0, 0, 15, 8, 4, 2),
	(12, 55, 2023-05-11, 0, 0, 16, 18, 31, 2),
	(13, 58, 2023-02-07, 0, 0, 12, 11, 21, 2),
	(14, 58, 2023-11-25, 0, 0, 18, 9, 78, 2),
	(15, 59, 2023-01-08, 0, 0, 14, 14, 40, 2),
	(16, NULL, 2023-11-24, 0, 0, 19, 1, 40, 2),
	(17, NULL, 2023-05-17, 0, 0, 21, 2, 42, 2),
	(18, NULL, 2023-04-12, 0, 0, 20, 13, 69, 2),
	(19, NULL, 2023-02-25, 0, 0, 15, 15, 6, 2),
	(20, NULL, 2023-07-24, 0, 0, 18, 17, 14, 2),
	(1, 78, 2023-03-28, 0, 0, 16, 10, 1, 3),
	(2, 69, 2023-11-14, 0, 0, 14, 3, 73, 3),
	(3, 75, 2023-09-11, 0, 0, 19, 20, 96, 3),
	(4, 64, 2023-03-13, 0, 0, 2, 2, 73, 3),
	(5, 80, 2023-04-09, 0, 0, 15, 13, 8, 3),
	(6, 81, 2023-11-26, 0, 0, 7, 4, 21, 3),
	(7, 78, 2023-01-26, 0, 0, 14, 11, 84, 3),
	(8, 62, 2023-11-30, 0, 0, 9, 9, 38, 3),
	(9, 60, 2023-11-02, 0, 0, 3, 18, 7, 3),
	(10, 80, 2023-09-30, 0, 0, 9, 12, 11, 3),
	(11, 76, 2023-01-24, 0, 0, 12, 5, 23, 3),
	(12, 65, 2023-03-15, 0, 0, 15, 8, 66, 3),
	(13, 64, 2023-10-10, 0, 0, 2, 19, 99, 3),
	(14, 68, 2023-01-12, 0, 0, 5, 17, 19, 3),
	(15, 63, 2023-01-28, 0, 0, 11, 6, 61, 3),
	(16, NULL, 2023-05-26, 0, 0, 13, 7, 23, 3),
	(17, NULL, 2023-05-18, 0, 0, 12, 15, 68, 3),
	(18, NULL, 2023-06-28, 0, 0, 16, 1, 55, 3),
	(19, NULL, 2023-01-06, 0, 0, 10, 14, 6, 3),
	(20, NULL, 2023-12-03, 0, 0, 15, 16, 31, 3),
	(1, 103, 2023-03-17, 0, 0, 5, 15, 49, 4),
	(2, 105, 2023-09-21, 0, 0, 16, 2, 29, 4),
	(3, 110, 2023-11-26, 0, 0, 15, 6, 76, 4),
	(4, 87, 2023-10-22, 0, 0, 11, 5, 101, 4),
	(5, 106, 2023-01-21, 0, 0, 16, 9, 35, 4),
	(6, 97, 2023-09-07, 0, 0, 12, 14, 98, 4),
	(7, 109, 2023-02-28, 0, 0, 13, 19, 82, 4),
	(8, 100, 2023-05-08, 0, 0, 16, 17, 20, 4),
	(9, 94, 2023-05-29, 0, 0, 10, 4, 47, 4),
	(10, 86, 2023-11-30, 0, 0, 5, 13, 23, 4),
	(11, 91, 2023-09-09, 0, 0, 20, 11, 7, 4),
	(12, 100, 2023-02-28, 0, 0, 3, 18, 81, 4),
	(13, 94, 2023-12-01, 0, 0, 21, 20, 69, 4),
	(14, 106, 2023-06-09, 0, 0, 20, 3, 27, 4),
	(15, 106, 2023-07-11, 0, 0, 2, 7, 10, 4),
	(16, NULL, 2023-01-28, 0, 0, 11, 16, 78, 4),
	(17, NULL, 2023-03-01, 0, 0, 4, 10, 86, 4),
	(18, NULL, 2023-11-26, 0, 0, 16, 8, 22, 4),
	(19, NULL, 2023-11-03, 0, 0, 3, 1, 4, 4),
	(20, NULL, 2023-07-06, 0, 0, 8, 21, 78, 4),
	(1, 136, 2023-04-12, 0, 0, 13, 10, 4, 5),
	(2, 125, 2023-12-07, 0, 0, 6, 15, 42, 5),
	(3, 117, 2023-01-28, 0, 0, 3, 9, 35, 5),
	(4, 132, 2023-04-22, 0, 0, 1, 3, 60, 5),
	(5, 136, 2023-04-13, 0, 0, 7, 16, 53, 5),
	(6, 124, 2023-07-25, 0, 0, 10, 18, 8, 5),
	(7, 117, 2023-02-20, 0, 0, 7, 20, 62, 5),
	(8, 116, 2023-06-24, 0, 0, 3, 17, 21, 5),
	(9, 114, 2023-12-14, 0, 0, 5, 12, 2, 5),
	(10, 111, 2023-05-01, 0, 0, 20, 21, 80, 5),
	(11, 136, 2023-04-01, 0, 0, 5, 1, 14, 5),
	(12, 119, 2023-04-09, 0, 0, 6, 8, 30, 5),
	(13, 121, 2023-07-14, 0, 0, 16, 11, 86, 5),
	(14, 116, 2023-04-23, 0, 0, 4, 6, 70, 5),
	(15, 121, 2023-09-03, 0, 0, 17, 13, 51, 5),
	(16, NULL, 2022-12-23, 0, 0, 7, 2, 69, 5),
	(17, NULL, 2023-07-15, 0, 0, 11, 7, 46, 5),
	(18, NULL, 2023-11-06, 0, 0, 7, 19, 3, 5),
	(19, NULL, 2023-05-31, 0, 0, 17, 14, 73, 5),
	(20, NULL, 2023-05-29, 0, 0, 11, 5, 51, 5),
	(1, 147, 2023-03-29, 0, 0, 7, 2, 78, 6),
	(2, 155, 2023-05-28, 0, 0, 7, 6, 63, 6),
	(3, 160, 2023-01-21, 0, 0, 11, 8, 46, 6),
	(4, 141, 2023-08-22, 0, 0, 1, 1, 98, 6),
	(5, 138, 2023-02-16, 0, 0, 9, 5, 59, 6),
	(6, 138, 2023-12-13, 0, 0, 5, 3, 7, 6),
	(7, 141, 2023-01-17, 0, 0, 10, 13, 59, 6),
	(8, 144, 2023-06-10, 0, 0, 1, 18, 39, 6),
	(9, 147, 2023-11-20, 0, 0, 18, 15, 31, 6),
	(10, 140, 2023-10-19, 0, 0, 16, 10, 58, 6),
	(11, 151, 2023-01-25, 0, 0, 9, 11, 16, 6),
	(12, 142, 2023-11-06, 0, 0, 20, 9, 12, 6),
	(13, 142, 2023-07-01, 0, 0, 14, 21, 32, 6),
	(14, 151, 2023-08-17, 0, 0, 13, 7, 72, 6),
	(15, 152, 2023-06-03, 0, 0, 11, 20, 75, 6),
	(16, NULL, 2023-04-08, 0, 0, 8, 14, 69, 6),
	(17, NULL, 2023-03-19, 0, 0, 20, 12, 85, 6),
	(18, NULL, 2023-12-13, 0, 0, 13, 17, 71, 6),
	(19, NULL, 2023-05-25, 0, 0, 1, 19, 64, 6),
	(20, NULL, 2023-08-31, 0, 0, 20, 4, 56, 6),
	(1, 169, 2023-01-05, 0, 0, 9, 2, 55, 7),
	(2, 163, 2023-11-03, 0, 0, 3, 13, 37, 7),
	(3, 179, 2023-02-22, 0, 0, 12, 11, 79, 7),
	(4, 179, 2023-08-06, 0, 0, 6, 10, 60, 7),
	(5, 170, 2023-07-28, 0, 0, 21, 14, 58, 7),
	(6, 162, 2023-08-09, 0, 0, 8, 18, 86, 7),
	(7, 172, 2023-10-21, 0, 0, 13, 12, 54, 7),
	(8, 163, 2022-12-23, 0, 0, 1, 1, 96, 7),
	(9, 161, 2023-04-20, 0, 0, 7, 15, 35, 7),
	(10, 176, 2023-01-27, 0, 0, 6, 7, 53, 7),
	(11, 168, 2023-03-01, 0, 0, 2, 17, 10, 7),
	(12, 166, 2023-10-14, 0, 0, 19, 16, 11, 7),
	(13, 167, 2023-06-17, 0, 0, 3, 21, 63, 7),
	(14, 162, 2023-09-05, 0, 0, 17, 9, 2, 7),
	(15, 162, 2023-02-15, 0, 0, 1, 8, 1, 7),
	(16, NULL, 2023-08-21, 0, 0, 14, 5, 48, 7),
	(17, NULL, 2023-02-14, 0, 0, 3, 3, 3, 7),
	(18, NULL, 2023-12-12, 0, 0, 19, 19, 4, 7),
	(19, NULL, 2023-07-15, 0, 0, 3, 6, 87, 7),
	(20, NULL, 2023-04-11, 0, 0, 14, 20, 50, 7),
	(1, 183, 2023-07-12, 0, 0, 14, 15, 16, 8),
	(2, 201, 2023-03-23, 0, 0, 7, 18, 28, 8),
	(3, 202, 2023-03-13, 0, 0, 18, 14, 97, 8),
	(4, 204, 2023-04-23, 0, 0, 4, 11, 83, 8),
	(5, 193, 2023-11-25, 0, 0, 11, 7, 13, 8),
	(6, 194, 2023-05-19, 0, 0, 5, 17, 14, 8),
	(7, 193, 2023-03-22, 0, 0, 19, 2, 87, 8),
	(8, 194, 2023-06-24, 0, 0, 15, 20, 92, 8),
	(9, 193, 2023-10-13, 0, 0, 18, 8, 27, 8),
	(10, 199, 2023-01-28, 0, 0, 4, 9, 77, 8),
	(11, 205, 2023-11-18, 0, 0, 18, 1, 52, 8),
	(12, 201, 2023-01-05, 0, 0, 5, 5, 67, 8),
	(13, 200, 2023-04-10, 0, 0, 7, 3, 86, 8),
	(14, 193, 2023-07-08, 0, 0, 5, 4, 4, 8),
	(15, 205, 2023-03-05, 0, 0, 3, 13, 89, 8),
	(16, NULL, 2023-08-01, 0, 0, 1, 16, 12, 8),
	(17, NULL, 2023-01-14, 0, 0, 6, 10, 34, 8),
	(18, NULL, 2023-10-19, 0, 0, 13, 12, 64, 8),
	(19, NULL, 2023-01-09, 0, 0, 2, 6, 11, 8),
	(20, NULL, 2023-07-01, 0, 0, 2, 19, 55, 8),
	(1, 222, 2023-05-28, 0, 0, 6, 15, 3, 9),
	(2, 224, 2023-03-10, 0, 0, 21, 14, 96, 9),
	(3, 214, 2023-06-08, 0, 0, 16, 20, 3, 9),
	(4, 215, 2023-08-22, 0, 0, 16, 10, 54, 9),
	(5, 215, 2023-05-23, 0, 0, 21, 6, 3, 9),
	(6, 210, 2023-04-13, 0, 0, 6, 8, 87, 9),
	(7, 219, 2023-06-05, 0, 0, 20, 11, 10, 9),
	(8, 211, 2023-10-03, 0, 0, 19, 12, 96, 9),
	(9, 214, 2023-03-06, 0, 0, 7, 3, 76, 9),
	(10, 210, 2023-07-06, 0, 0, 2, 5, 48, 9),
	(11, 212, 2023-08-03, 0, 0, 1, 21, 63, 9),
	(12, 217, 2023-08-17, 0, 0, 16, 16, 38, 9),
	(13, 222, 2023-01-10, 0, 0, 4, 2, 69, 9),
	(14, 214, 2023-11-15, 0, 0, 20, 7, 44, 9),
	(15, 216, 2023-01-10, 0, 0, 16, 13, 22, 9),
	(16, NULL, 2023-06-29, 0, 0, 3, 17, 33, 9),
	(17, NULL, 2022-12-19, 0, 0, 11, 4, 96, 9),
	(18, NULL, 2023-09-08, 0, 0, 19, 18, 31, 9),
	(19, NULL, 2023-02-20, 0, 0, 5, 19, 87, 9),
	(20, NULL, 2023-07-25, 0, 0, 15, 9, 81, 9),
	(1, 229, 2023-09-23, 0, 0, 13, 4, 59, 10),
	(2, 228, 2023-10-31, 0, 0, 15, 21, 54, 10),
	(3, 241, 2023-06-10, 0, 0, 15, 13, 62, 10),
	(4, 236, 2023-09-08, 0, 0, 15, 14, 77, 10),
	(5, 236, 2023-11-08, 0, 0, 21, 15, 27, 10),
	(6, 250, 2023-09-20, 0, 0, 10, 11, 22, 10),
	(7, 248, 2023-03-30, 0, 0, 10, 3, 72, 10),
	(8, 240, 2023-05-16, 0, 0, 1, 7, 24, 10),
	(9, 240, 2023-04-25, 0, 0, 18, 9, 86, 10),
	(10, 250, 2023-08-03, 0, 0, 18, 2, 84, 10),
	(11, 228, 2023-01-19, 0, 0, 15, 20, 97, 10),
	(12, 245, 2023-01-23, 0, 0, 1, 6, 52, 10),
	(13, 228, 2023-12-04, 0, 0, 12, 8, 14, 10),
	(14, 251, 2023-04-05, 0, 0, 14, 19, 75, 10),
	(15, 248, 2023-04-17, 0, 0, 8, 10, 18, 10),
	(16, NULL, 2023-06-27, 0, 0, 1, 5, 25, 10),
	(17, NULL, 2023-01-05, 0, 0, 9, 18, 71, 10),
	(18, NULL, 2023-08-17, 0, 0, 2, 17, 60, 10),
	(19, NULL, 2023-12-01, 0, 0, 1, 16, 54, 10),
	(20, NULL, 2023-05-27, 0, 0, 4, 12, 42, 10),
	(1, 273, 2023-04-19, 0, 0, 7, 6, 70, 11),
	(2, 262, 2023-10-07, 0, 0, 12, 9, 55, 11),
	(3, 262, 2023-06-11, 0, 0, 10, 15, 60, 11),
	(4, 272, 2023-01-06, 0, 0, 9, 19, 29, 11),
	(5, 273, 2023-02-15, 0, 0, 4, 12, 54, 11),
	(6, 267, 2023-05-07, 0, 0, 20, 5, 48, 11),
	(7, 261, 2023-09-09, 0, 0, 10, 11, 1, 11),
	(8, 257, 2023-01-06, 0, 0, 15, 17, 29, 11),
	(9, 267, 2023-10-26, 0, 0, 17, 2, 27, 11),
	(10, 255, 2023-12-11, 0, 0, 13, 16, 87, 11),
	(11, 266, 2023-11-23, 0, 0, 3, 20, 82, 11),
	(12, 276, 2023-03-04, 0, 0, 11, 10, 80, 11),
	(13, 261, 2023-08-17, 0, 0, 7, 1, 13, 11),
	(14, 272, 2023-11-12, 0, 0, 18, 4, 21, 11),
	(15, 270, 2023-05-20, 0, 0, 15, 7, 76, 11),
	(16, NULL, 2023-03-24, 0, 0, 7, 8, 24, 11),
	(17, NULL, 2023-06-26, 0, 0, 1, 21, 24, 11),
	(18, NULL, 2023-02-27, 0, 0, 17, 13, 75, 11),
	(19, NULL, 2023-10-27, 0, 0, 4, 18, 77, 11),
	(20, NULL, 2023-02-09, 0, 0, 19, 3, 76, 11),
	(1, 288, 2023-07-28, 0, 0, 15, 5, 89, 12),
	(2, 290, 2023-04-15, 0, 0, 11, 20, 15, 12),
	(3, 278, 2023-08-24, 0, 0, 10, 12, 30, 12),
	(4, 292, 2023-02-08, 0, 0, 12, 2, 101, 12),
	(5, 285, 2023-05-05, 0, 0, 8, 8, 19, 12),
	(6, 282, 2023-07-15, 0, 0, 14, 6, 13, 12),
	(7, 296, 2023-07-25, 0, 0, 19, 1, 39, 12),
	(8, 281, 2023-03-21, 0, 0, 5, 19, 36, 12),
	(9, 292, 2023-07-04, 0, 0, 21, 13, 48, 12),
	(10, 283, 2023-10-06, 0, 0, 18, 7, 95, 12),
	(11, 291, 2023-07-23, 0, 0, 17, 17, 26, 12),
	(12, 285, 2023-06-24, 0, 0, 12, 11, 30, 12),
	(13, 290, 2023-01-04, 0, 0, 2, 18, 12, 12),
	(14, 299, 2023-10-27, 0, 0, 11, 21, 4, 12),
	(15, 294, 2022-12-16, 0, 0, 3, 15, 90, 12),
	(16, NULL, 2023-11-05, 0, 0, 20, 10, 84, 12),
	(17, NULL, 2023-03-10, 0, 0, 12, 14, 47, 12),
	(18, NULL, 2023-12-09, 0, 0, 6, 9, 7, 12),
	(19, NULL, 2023-01-09, 0, 0, 17, 4, 20, 12),
	(20, NULL, 2023-09-12, 0, 0, 21, 16, 79, 12),
	(1, 306, 2023-04-29, 0, 0, 5, 6, 12, 13),
	(2, 308, 2023-02-11, 0, 0, 2, 7, 22, 13),
	(3, 315, 2023-05-17, 0, 0, 3, 19, 24, 13),
	(4, 316, 2023-03-24, 0, 0, 12, 9, 18, 13),
	(5, 309, 2023-03-23, 0, 0, 4, 13, 23, 13),
	(6, 319, 2023-12-05, 0, 0, 21, 12, 46, 13),
	(7, 304, 2023-06-11, 0, 0, 4, 3, 81, 13),
	(8, 319, 2023-03-01, 0, 0, 7, 1, 30, 13),
	(9, 305, 2023-09-19, 0, 0, 13, 5, 41, 13),
	(10, 310, 2023-12-11, 0, 0, 9, 8, 99, 13),
	(11, 304, 2023-01-09, 0, 0, 10, 11, 81, 13),
	(12, 312, 2023-11-27, 0, 0, 16, 20, 68, 13),
	(13, 303, 2023-08-21, 0, 0, 6, 4, 52, 13),
	(14, 319, 2023-07-29, 0, 0, 11, 14, 35, 13),
	(15, 316, 2023-09-08, 0, 0, 20, 10, 4, 13),
	(16, NULL, 2023-05-24, 0, 0, 4, 21, 40, 13),
	(17, NULL, 2022-12-20, 0, 0, 12, 2, 89, 13),
	(18, NULL, 2023-02-19, 0, 0, 7, 15, 29, 13),
	(19, NULL, 2023-08-07, 0, 0, 6, 16, 37, 13),
	(20, NULL, 2023-04-11, 0, 0, 6, 18, 52, 13),
	(1, 323, 2023-10-11, 0, 0, 6, 4, 48, 14),
	(2, 326, 2023-08-04, 0, 0, 19, 20, 79, 14),
	(3, 346, 2022-12-26, 0, 0, 4, 2, 68, 14),
	(4, 325, 2023-05-17, 0, 0, 8, 14, 32, 14),
	(5, 341, 2023-01-11, 0, 0, 21, 12, 24, 14),
	(6, 347, 2023-05-28, 0, 0, 5, 6, 59, 14),
	(7, 335, 2023-07-12, 0, 0, 11, 10, 30, 14),
	(8, 328, 2023-10-06, 0, 0, 2, 1, 98, 14),
	(9, 342, 2023-12-13, 0, 0, 18, 3, 24, 14),
	(10, 341, 2023-05-02, 0, 0, 4, 19, 15, 14),
	(11, 335, 2023-01-16, 0, 0, 12, 17, 80, 14),
	(12, 336, 2023-08-08, 0, 0, 15, 18, 20, 14),
	(13, 336, 2023-01-14, 0, 0, 21, 16, 17, 14),
	(14, 322, 2023-11-28, 0, 0, 3, 7, 35, 14),
	(15, 348, 2023-12-10, 0, 0, 12, 21, 91, 14),
	(16, NULL, 2023-03-27, 0, 0, 4, 11, 61, 14),
	(17, NULL, 2023-06-24, 0, 0, 12, 9, 91, 14),
	(18, NULL, 2023-08-12, 0, 0, 8, 8, 95, 14),
	(19, NULL, 2023-01-03, 0, 0, 16, 5, 44, 14),
	(20, NULL, 2023-06-25, 0, 0, 8, 15, 12, 14),
	(1, 370, 2023-06-17, 0, 0, 13, 12, 3, 15),
	(2, 355, 2023-03-23, 0, 0, 21, 9, 94, 15),
	(3, 372, 2023-06-03, 0, 0, 6, 18, 43, 15),
	(4, 368, 2023-04-19, 0, 0, 13, 2, 14, 15),
	(5, 358, 2022-12-27, 0, 0, 21, 3, 76, 15),
	(6, 362, 2023-07-04, 0, 0, 3, 15, 14, 15),
	(7, 357, 2023-07-16, 0, 0, 9, 16, 45, 15),
	(8, 376, 2023-03-24, 0, 0, 21, 1, 71, 15),
	(9, 356, 2023-06-18, 0, 0, 9, 21, 23, 15),
	(10, 358, 2023-07-12, 0, 0, 20, 13, 101, 15),
	(11, 358, 2023-11-10, 0, 0, 10, 19, 63, 15),
	(12, 371, 2023-12-14, 0, 0, 2, 4, 29, 15),
	(13, 358, 2023-10-19, 0, 0, 18, 5, 25, 15),
	(14, 353, 2023-11-21, 0, 0, 14, 8, 40, 15),
	(15, 377, 2023-10-14, 0, 0, 21, 10, 10, 15),
	(16, NULL, 2023-03-31, 0, 0, 5, 17, 83, 15),
	(17, NULL, 2022-12-28, 0, 0, 9, 20, 20, 15),
	(18, NULL, 2023-04-14, 0, 0, 19, 11, 19, 15),
	(19, NULL, 2023-04-30, 0, 0, 7, 6, 37, 15),
	(20, NULL, 2023-08-05, 0, 0, 3, 7, 33, 15),

### order-food
> AE viết cái procedure thêm món đã - rồi gọi nó ở đây cho nó cập nhật cái order ở trên nha

ORDER_FOOD
- ID_BranchFood INT
- ID_Order INT,
- Quantity INT NOT NULL CHECK (Quantity > 0),
- CONSTRAINT PK_ORDER_FOOD PRIMARY KEY (ID_BranchFood, ID_Order)

In [257]:
def generate_order_food_data(branch_foods: dict, order_id_list: dict, foodID_list: list):
    # branch_foods[(id_branch, id_food)] = id_branchfood

    # before inserting, check if:
    # - ID_Order in ORDER_FOOD exists in ORDER
    # - ID_BranchFood in ORDER_FOOD exists in BRANCH_FOOD
    
    print("""
        CREATE PROC INSERT_ORDER_FOOD
            @ID_BranchFood INT,
            @ID_Order INT,
            @Quantity INT
        AS
            BEGIN
                --check if quantity = 0, if so do not insert
                IF @Quantity = 0
                BEGIN
                    PRINT 'Quantity cannot be 0';
                    RETURN;
                END;

                IF  EXISTS (SELECT ID_Order FROM ORDER WHERE ID_Order = @ID_Order)
                AND EXISTS (SELECT ID_BranchFood FROM BRANCH_FOOD WHERE ID_BranchFood = @ID_BranchFood)
                BEGIN
                    INSERT INTO ORDER_FOOD VALUES (@ID_Order, @ID_BranchFood, @Quantity);
                END;
            END;
        BEGIN
        END;
        """)
    
    for orderID, branchID in zip(order_id_list["ID_Order"], order_id_list["ID_Branch"]):
        no_food = random.randint(1, 10)
        for j in range(no_food):
            while True:
                foodID = random.choice(foodID_list)
                if (branchID, foodID) in branch_foods:
                    ID_BranchFood = branch_foods[(branchID, foodID)]
                    break
            Quantity = random.randint(1, 5)
            # call the stored procedure
            print(f"EXEC INSERT_ORDER_FOOD {ID_BranchFood}, {orderID}, {Quantity};")

### online-order

- ID_Online INT,
- TimeOrder TIME NOT NULL,
- CONSTRAINT PK_ONLINE_ORDER PRIMARY KEY (ID_Online)

In [258]:
index = order_id_list["ID_Table"].index("NULL")
reservation_ratio = random.randint(1, 3) * 0.1


reservation_orders = {key: value[int(index * reservation_ratio):] for key, value in order_id_list.items()} # table = NULL => reservation order
online_orders = {key: value[:index] for key, value in order_id_list.items()} # table = NULL => online order



def generate_online_order(online_order):
    for orderID in online_order["ID_Order"]:
        TimeOrder = fake.time(pattern="%H:%M:%S")
        print(
            f"INSERT INTO ONLINE_ORDER VALUES ({orderID}, {TimeOrder});"
        )

generate_online_order(online_orders)

INSERT INTO ONLINE_ORDER VALUES (1, 22:41:41);
INSERT INTO ONLINE_ORDER VALUES (2, 21:33:48);
INSERT INTO ONLINE_ORDER VALUES (3, 01:24:43);
INSERT INTO ONLINE_ORDER VALUES (4, 10:39:40);
INSERT INTO ONLINE_ORDER VALUES (5, 21:49:50);
INSERT INTO ONLINE_ORDER VALUES (6, 10:18:54);
INSERT INTO ONLINE_ORDER VALUES (7, 15:07:07);
INSERT INTO ONLINE_ORDER VALUES (8, 03:38:39);
INSERT INTO ONLINE_ORDER VALUES (9, 16:22:48);
INSERT INTO ONLINE_ORDER VALUES (10, 07:15:33);
INSERT INTO ONLINE_ORDER VALUES (11, 09:49:37);
INSERT INTO ONLINE_ORDER VALUES (12, 06:27:48);
INSERT INTO ONLINE_ORDER VALUES (13, 21:55:05);
INSERT INTO ONLINE_ORDER VALUES (14, 03:00:30);
INSERT INTO ONLINE_ORDER VALUES (15, 03:40:46);

RESERVATION_ORDER
- ID_Reservation INT
- ID_Table INT
- ArrivalTime TIME NOT NULL,
- NumberOfPeople INT NOT NULL CHECK (NumberOfPeople > 0),
- Notes NVARCHAR(500),
- CONSTRAINT PK_RESERVATION_ORDER PRIMARY KEY (ID_Reservation)

In [259]:
def generate_reservation_order(reservation_order):
    for ID_Order, ID_Table in zip(reservation_order["ID_Order"], reservation_order["ID_Table"]):
        ArrivalTime = fake.time(pattern="%H:%M:%S")
        NumPeople = random.randint(1, 8)
        print(
            f'INSERT INTO RESERVATION_ORDER VALUES {ID_Order}, {ID_Table}, {ArrivalTime}, {NumPeople}, "NULL");'
        )
generate_reservation_order(reservation_orders)

INSERT INTO RESERVATION_ORDER VALUES 2, 20, 18:38:27, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 3, 8, 20:32:54, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 4, 5, 11:33:01, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 5, 22, 02:19:22, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 6, 30, 04:04:29, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 7, 6, 04:50:18, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 8, 13, 12:45:32, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 9, 1, 01:07:13, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 10, 28, 17:49:58, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 11, 1, 08:51:24, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 12, 13, 07:32:42, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 13, 26, 18:51:42, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 14, 18, 04:04:47, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 15, 15, 00:05:55, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 16, NULL, 14:17:28, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 17, NULL, 23:59:55, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 18, NULL, 20:57:03, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 19, NULL, 23:59:43, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 20, NULL, 21:14:36, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 1, 40, 20:40:05, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 2, 43, 21:10:22, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 3, 46, 09:44:44, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 4, 36, 13:45:11, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 5, 35, 23:40:10, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 6, 36, 22:54:28, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 7, 32, 14:31:42, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 8, 40, 09:23:57, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 9, 51, 08:50:53, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 10, 53, 11:00:58, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 11, 44, 17:50:38, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 12, 55, 06:28:36, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 13, 58, 10:31:33, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 14, 58, 11:43:38, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 15, 59, 14:19:07, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 16, NULL, 02:08:28, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 17, NULL, 21:13:37, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 18, NULL, 03:48:48, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 19, NULL, 21:40:35, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 20, NULL, 16:08:49, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 1, 78, 11:18:58, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 2, 69, 02:00:24, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 3, 75, 19:22:47, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 4, 64, 19:32:41, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 5, 80, 20:41:43, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 6, 81, 15:36:30, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 7, 78, 11:05:07, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 8, 62, 04:00:09, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 9, 60, 20:20:31, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 10, 80, 01:47:35, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 11, 76, 12:28:18, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 12, 65, 13:38:19, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 13, 64, 10:49:17, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 14, 68, 13:07:56, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 15, 63, 19:42:53, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 16, NULL, 10:58:03, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 17, NULL, 01:15:38, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 18, NULL, 00:31:04, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 19, NULL, 11:32:22, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 20, NULL, 08:12:40, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 1, 103, 22:53:37, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 2, 105, 12:49:53, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 3, 110, 12:50:40, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 4, 87, 00:25:51, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 5, 106, 01:32:12, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 6, 97, 21:14:29, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 7, 109, 01:53:08, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 8, 100, 12:48:35, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 9, 94, 21:51:59, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 10, 86, 07:48:47, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 11, 91, 20:53:16, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 12, 100, 06:54:07, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 13, 94, 16:20:14, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 14, 106, 23:15:59, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 15, 106, 23:07:36, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 16, NULL, 07:09:11, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 17, NULL, 06:38:37, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 18, NULL, 18:51:48, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 19, NULL, 17:45:43, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 20, NULL, 09:12:56, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 1, 136, 17:22:03, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 2, 125, 02:47:58, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 3, 117, 23:03:16, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 4, 132, 05:06:05, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 5, 136, 02:43:05, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 6, 124, 18:13:07, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 7, 117, 14:00:00, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 8, 116, 05:10:57, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 9, 114, 14:48:25, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 10, 111, 14:35:53, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 11, 136, 20:30:17, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 12, 119, 01:39:13, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 13, 121, 17:50:02, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 14, 116, 10:54:57, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 15, 121, 20:13:09, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 16, NULL, 14:41:03, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 17, NULL, 08:18:14, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 18, NULL, 09:02:28, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 19, NULL, 03:29:56, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 20, NULL, 06:25:24, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 1, 147, 15:02:16, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 2, 155, 20:34:00, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 3, 160, 17:56:54, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 4, 141, 00:58:24, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 5, 138, 03:29:26, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 6, 138, 14:44:48, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 7, 141, 07:00:15, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 8, 144, 15:04:12, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 9, 147, 05:35:43, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 10, 140, 06:58:12, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 11, 151, 07:28:45, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 12, 142, 13:04:04, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 13, 142, 22:36:49, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 14, 151, 06:03:51, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 15, 152, 02:45:55, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 16, NULL, 08:39:53, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 17, NULL, 05:24:14, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 18, NULL, 23:56:03, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 19, NULL, 00:03:38, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 20, NULL, 20:41:58, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 1, 169, 11:41:18, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 2, 163, 04:30:33, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 3, 179, 19:41:50, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 4, 179, 19:31:41, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 5, 170, 16:05:14, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 6, 162, 23:57:18, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 7, 172, 06:38:08, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 8, 163, 09:29:37, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 9, 161, 20:53:21, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 10, 176, 03:56:54, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 11, 168, 01:43:21, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 12, 166, 09:47:11, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 13, 167, 23:54:34, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 14, 162, 10:35:41, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 15, 162, 00:10:57, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 16, NULL, 10:59:09, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 17, NULL, 06:36:34, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 18, NULL, 05:46:35, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 19, NULL, 04:49:04, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 20, NULL, 23:57:43, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 1, 183, 21:21:46, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 2, 201, 12:35:28, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 3, 202, 10:02:13, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 4, 204, 21:21:41, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 5, 193, 08:18:17, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 6, 194, 17:07:34, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 7, 193, 02:55:17, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 8, 194, 05:50:53, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 9, 193, 11:54:11, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 10, 199, 04:24:49, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 11, 205, 17:32:53, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 12, 201, 22:36:27, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 13, 200, 20:03:13, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 14, 193, 16:34:53, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 15, 205, 07:08:07, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 16, NULL, 02:03:25, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 17, NULL, 10:54:43, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 18, NULL, 10:19:24, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 19, NULL, 08:40:06, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 20, NULL, 06:06:24, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 1, 222, 21:05:33, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 2, 224, 12:36:03, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 3, 214, 05:02:11, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 4, 215, 10:08:34, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 5, 215, 17:10:29, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 6, 210, 01:12:40, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 7, 219, 18:21:40, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 8, 211, 19:34:22, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 9, 214, 10:19:36, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 10, 210, 10:38:59, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 11, 212, 07:49:45, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 12, 217, 02:04:19, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 13, 222, 04:16:58, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 14, 214, 22:06:33, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 15, 216, 11:32:18, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 16, NULL, 05:38:02, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 17, NULL, 12:45:13, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 18, NULL, 11:21:40, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 19, NULL, 12:14:17, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 20, NULL, 23:52:29, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 1, 229, 05:43:19, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 2, 228, 04:59:46, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 3, 241, 02:07:25, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 4, 236, 18:18:57, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 5, 236, 03:20:41, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 6, 250, 09:08:36, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 7, 248, 23:56:50, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 8, 240, 22:16:55, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 9, 240, 16:28:57, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 10, 250, 13:17:01, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 11, 228, 02:49:34, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 12, 245, 06:12:00, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 13, 228, 07:59:13, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 14, 251, 12:31:00, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 15, 248, 02:41:48, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 16, NULL, 00:50:30, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 17, NULL, 01:51:35, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 18, NULL, 22:36:40, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 19, NULL, 16:37:09, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 20, NULL, 07:27:00, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 1, 273, 17:24:07, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 2, 262, 16:59:11, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 3, 262, 05:19:13, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 4, 272, 08:57:42, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 5, 273, 16:51:09, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 6, 267, 01:23:43, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 7, 261, 19:39:28, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 8, 257, 07:38:26, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 9, 267, 00:13:36, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 10, 255, 07:22:33, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 11, 266, 04:18:45, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 12, 276, 19:05:46, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 13, 261, 22:08:39, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 14, 272, 21:35:56, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 15, 270, 15:41:01, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 16, NULL, 18:53:15, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 17, NULL, 21:54:36, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 18, NULL, 00:44:22, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 19, NULL, 13:34:08, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 20, NULL, 14:31:08, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 1, 288, 09:54:22, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 2, 290, 10:26:41, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 3, 278, 16:32:05, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 4, 292, 10:06:44, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 5, 285, 21:45:39, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 6, 282, 07:03:33, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 7, 296, 08:25:22, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 8, 281, 09:02:40, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 9, 292, 22:08:22, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 10, 283, 14:17:36, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 11, 291, 21:51:07, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 12, 285, 21:44:58, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 13, 290, 18:54:14, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 14, 299, 13:08:59, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 15, 294, 15:43:48, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 16, NULL, 02:02:53, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 17, NULL, 16:53:46, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 18, NULL, 11:20:10, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 19, NULL, 00:58:15, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 20, NULL, 22:26:50, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 1, 306, 00:24:41, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 2, 308, 14:38:21, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 3, 315, 03:16:15, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 4, 316, 15:51:57, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 5, 309, 16:50:22, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 6, 319, 09:18:43, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 7, 304, 01:31:12, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 8, 319, 21:41:47, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 9, 305, 01:13:01, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 10, 310, 06:31:38, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 11, 304, 08:13:51, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 12, 312, 04:04:53, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 13, 303, 19:51:44, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 14, 319, 16:39:21, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 15, 316, 10:09:37, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 16, NULL, 01:56:13, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 17, NULL, 11:14:32, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 18, NULL, 03:44:16, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 19, NULL, 01:56:25, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 20, NULL, 09:41:56, 6, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 1, 323, 19:50:20, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 2, 326, 17:28:20, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 3, 346, 15:48:53, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 4, 325, 07:05:51, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 5, 341, 07:40:33, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 6, 347, 09:52:00, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 7, 335, 08:49:47, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 8, 328, 04:39:09, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 9, 342, 10:04:54, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 10, 341, 23:21:11, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 11, 335, 07:38:42, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 12, 336, 04:18:49, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 13, 336, 13:39:39, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 14, 322, 02:45:50, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 15, 348, 20:16:35, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 16, NULL, 04:06:56, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 17, NULL, 18:26:17, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 18, NULL, 00:13:42, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 19, NULL, 05:34:47, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 20, NULL, 17:05:45, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 1, 370, 18:21:54, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 2, 355, 20:33:55, 3, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 3, 372, 02:07:41, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 4, 368, 18:51:04, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 5, 358, 20:36:15, 5, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 6, 362, 21:41:31, 7, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 7, 357, 21:11:39, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 8, 376, 10:06:24, 1, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 9, 356, 04:16:05, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 10, 358, 19:18:17, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 11, 358, 10:11:14, 4, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 12, 371, 14:08:27, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 13, 358, 22:36:23, 8, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 14, 353, 07:27:55, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 15, 377, 10:14:41, 2, "NULL");
INSERT INTO RESERVATION_ORDER VALUES 16, NULL, 01:52:50, 6, "NULL");